<!-- Section -->
<section>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="panel ">
                    <div class="panel-body">
                        <div class="heading-text heading-gradient heading-line text-center">
                            <h4 class="text-center"><span>Iniciar sesión</span></h4>
                        </div>
                        <div *ngIf="isLoginFailed" class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ errorMessage }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <form #formLogin="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input type="text" placeholder="Email" class="form-control" name="username" [(ngModel)]="form.username">
                            </div>
                            <div class="form-group m-b-5">
                                <label class="sr-only">Contraseña</label>
                                <input type="password" placeholder="Contraseña" class="form-control" autocomplete="on" name="password" [(ngModel)]="form.password">
                            </div>
                            <div class="form-group form-inline m-b-10 ">
                                <div class="form-check">
                                    <label>
                                        <input type="checkbox"><small class="m-l-10"> Recuerdame</small>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="enviando">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!enviando">
                                <input class="btn" type="submit" value="Iniciar Sesión" />
                            </div>
                        </form>
                    </div>
                </div>
                <p>¿No tienes una cuenta? <a href="/registro">Inscríbete</a></p>
                <p>¿Has olvidado la contraseña? <a href="/recuperar-pass">Recuperar contraseña</a></p>
            </div>
        </div>
    </div>
</section>
<!-- end: Section -->
