<!-- Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <h2 class="text-center">¿Has olvidado tu contraseña?</h2>
                <form #formRecover="ngForm" (ngSubmit)="onSubmit(this.formRecover)" class="form-validation needs-validation">
                    <div class="form-group">
                        <p class="center">Para recibir una nueva contraseña, introduce tu dirección de correo electrónico.</p>
                        <input type="email" name="email" class="form-control form-white placeholder required" placeholder="Introduce tu email..." required [(ngModel)]="email">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn">Recuperar tu Contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end: Section -->
