<app-tipo-actividad-list></app-tipo-actividad-list>
<div style="margin-top: 35px" class="d-flex justify-content-end">
  <button
    id="plusActividad"
    (click)="habilitarActividad()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Actividad
  </button>
  <button
    id="minusActividad"
    (click)="deshabilitarActividad()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Actividad
  </button>
</div>
<div *ngIf="mostrarActividadAdd == true">
  <app-actividad-add></app-actividad-add>
</div>
<h3 class="card-title text-left">Actividad</h3>
<div class="card-text text-center ">
  <table
    id="datatable"
    class="table table-bordered table-hover dataTable "
    style="width: 100%"
    role="grid"
    aria-describedby="datatable_info"
  >
    <thead class="align-middle">
      <tr role="row">
        <th
          id=""
          class="sorting_asc align-middle"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Nombre
        </th>
        <th
          id=""
          class="sorting_asc align-middle"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Dificultad
        </th>
        <th
          id=""
          class="noExport sorting align-middle"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Tipo De Actividad
        </th>
        <th
          id=""
          class="noExport sorting align-middle"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Descripción
        </th>
        <th
        id=""
        class="noExport sorting align-middle"
        tabindex="0"
        aria-controls="datatable"
        rowspan="1"
        colspan="1"
        aria-label="Actions: activate to sort column ascending"
        style="width: 54px"
      >
        color
      </th>
        <th
          id=""
          class="noExport sorting align-middle"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actividad of actividades">
        <td class="text-left align-middle">{{ actividad.nombre }}</td>
        <td class="text-center align-middle">{{ actividad.dificultad }}</td>
        <td class="text-left align-middle">{{ actividad.tipoActividad.nombre }}</td>
        <td class="text-left align-middle">{{ actividad.descripcion }}</td>
        <td class="text-center align-middle">
          <div class="m-auto" style="width: 20px; height: 20px;" [ngStyle]="{'background-color': actividad.color }">
          </div>
        </td>
        <td class="text-center align-middle">
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Edit"
            (click)="open(content, actividad)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="openModalDelete(confirmDelete,this.actividad)"
            ><i class="icon-trash-2"></i
          ></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="" rowspan="1" colspan="1" class="text-center align-middle">Nombre</th>
        <th id="" rowspan="1" colspan="1" class="text-center align-middle">Dificultad</th>
        <th id="" rowspan="1" colspan="1" class="text-center align-middle">Tipo De Actividad</th>
        <th id="" rowspan="1" colspan="1" class="text-center align-middle">Descripción</th>
        <th id="" rowspan="1" colspan="1" class="text-center align-middle">Color</th>
        <th id="" rowspan="1" colspan="1" class="text-center align-middle">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>¿Seguro que quieres borrar la actividad <span class="text-danger">{{actividadAux.nombre}} ({{actividadAux.id}})?</span></h3>
    </div>
  </div>
  <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button (click)="delete(actividad)" type="button" class="btn btn-primary">Borrar</button>
        </div>
</ng-template>

<hr />

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Actividad</h4>
  </div>
  <div class="modal-body text-left" *ngIf="actividadUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update(updateModalActividad)"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="nombre">(*) Nombre</label>
            <input
              type="text"
              id="nombre"
              class="form-control"
              name="nombre"
              #actividadNombre="ngModel"
              [(ngModel)]="actividadUpdate.nombre"
              placeholder="Nombre Tipo Actividad"
              required=""
              pattern="^([a-zA-ZáéíóúÁÉÍÓÚÜ]){1}[a-zA-Z áéíóúÁÉÍÓÚÜ]{2,50}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && actividadNombre.invalid) ||
                  (actividadNombre.touched && !actividadNombre.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && actividadNombre.invalid) ||
                (actividadNombre.touched && !actividadNombre.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  actividadNombre.errors.required || actividadNombre.invalid
                "
              >
                * Nombre no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="username">(*) Dificultad</label>
            <input
              type="number"
              class="form-control"
              name="dificultad"
              value="1"
              #actividadDificultad="ngModel"
              [(ngModel)]="actividadUpdate.dificultad"
              min="1"
              max="10"
              required=""
              pattern="([1-9]|10)"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && actividadDificultad.invalid) ||
                  (actividadDificultad.touched && !actividadDificultad.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && actividadDificultad.invalid) ||
                (actividadDificultad.touched && !actividadDificultad.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  actividadDificultad.errors.required ||
                  actividadDificultad.invalid
                "
              >
                * Actividad no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4 ">
            <label for="color">(*) Color</label>
            <input
              type="color"
              name="color"
              id="color"
              #colorTipoActividad="ngModel"
              [(ngModel)]="actividadUpdate.color"
            />
          </div>

          <div class="form-group col-md-6">
            <label for="descripcion">Descripción</label>
            <textarea
              class="form-control"
              name="descripcion"
              id="descripcion"
              cols="50"
              rows="4"
              #actividadDescripcion="ngModel"
              [(ngModel)]="actividadUpdate.descripcion"
              placeholder="Descripción."
              pattern="([a-zA-Z áéíóúüÁÉÍÓÚÜ0-9.,]){0,}"
            ></textarea>

            <span
              style="color: red"
              *ngIf="
                actividadDescripcion.touched && !actividadDescripcion.valid
              "
            >
              * Descripcion no válida</span
            >
          </div>

          <div class="form-group col-md-6">
            <label for="tipoActividad">(*) Tipo de Actividad</label>
            <select
              class="form-control"
              name="tipoActividad"
              id="tipoActividad"
              #actividadTipoActividad="ngModel"
              [(ngModel)]="tipoActividadId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && actividadTipoActividad.invalid) ||
                  (actividadTipoActividad.touched &&
                    !actividadTipoActividad.valid)
              }"
              [(ngModel)]="actividadUpdate.tipoActividad.id"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let tipoActividad of tiposActividades"
                value="{{ tipoActividad.id }}"
              >
                {{ tipoActividad.nombre }}
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && actividadTipoActividad.invalid) ||
                (actividadTipoActividad.touched &&
                  !actividadTipoActividad.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  actividadTipoActividad.errors.required ||
                  actividadTipoActividad.invalid
                "
              >
                * Seleccione un tipo de actividad
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #updateModalActividad let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Update</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>{{textoModal}}</h3>
    </div>
  </div>
  <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss();refresh()"
          >
            Cerrar
          </button>
        </div>
</ng-template>