<!-- BOXES -->
<section class="box-fancy section-fullwidth text-light no-padding">
    <div class="row">
        <div class="col-lg-3 text-center" style="background-color: #f1b732;">
            <img src="assets/fitness/images/icons/1.png" alt="">
            <h2>HEAVY WEIGHTS</h2>
            <span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. </span>
        </div>

        <div class="col-lg-3 text-center" style="background-color: #fcc43f;">
            <img src="assets/fitness/images/icons/2.png" alt="">
            <h2>CYCLING</h2>
            <span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. </span>
        </div>

        <div class="col-lg-3 text-center" style="background-color: #fdce49;">
            <img src="assets/fitness/images/icons/3.png" alt="">
            <h2>BODY BUILDING</h2>
            <span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. </span>
        </div>
        <div class="col-lg-3 text-center" style="background-color: #fcc43f;">
            <img src="assets/fitness/images/icons/4.png" alt="">
            <h2>WEIGHTLOSS</h2>
            <span>The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. </span>
        </div>
    </div>
</section>
<!-- end: BOXES -->
