<!-- BOXES -->
<section class="box-fancy section-fullwidth text-light no-padding">
    <div class="row">
        <div class="col-lg-3 text-center" style="background-color: #f1b732;">
            <img src="assets/fitness/images/icons/1.png" alt="">
            <h2 class="text-xs font-bold mt-4">CARDIO</h2>
            <span>Tenemos variados ejercicios de cardio en las que se pone en movimiento los músculos mayores del cuerpo durante un período prolongado ayudando a quemar grasa y perder calorías.</span>
        </div>
        <div class="col-lg-3 text-center" style="background-color: #fcc43f;">
            <img src="assets/fitness/images/icons/2.png" alt="">
            <h2 class="text-xs font-bold mt-4">CYCLING</h2>
            <span>Subiremos "montañas", realizaremos algún que otro sprint y ejercicios de tonificación sobre el manillar, cambios de ritmo e intensidad, trabajo de frecuencia de pedaleo… y todo ello sin salir de la sala de nuestro centro deportivo.</span>
        </div>
        <div class="col-lg-3 text-center" style="background-color: #fdce49;">
            <img src="assets/fitness/images/icons/3.png" alt="">
            <h2 class="text-xs font-bold mt-4">BODY BUILDING</h2>
            <span>el bodybuilding es una actividad física que se basa en levantar pesas y realizar diversos ejercicios anaeróbicos. Nuestro gymnasio cuenta con todos los aparatos y diferentes pesas para realizar los ejercicios.</span>
        </div>
        <div class="col-lg-3 text-center" style="background-color: #fcc43f;">
            <img src="assets/fitness/images/icons/4.png" alt="">
            <h2 class="text-xs font-bold mt-3">RUNNING</h2>
            <span>¿Quieres correr en un sitio seguro, de una manera programada y controlada? Disponemos de la última tecnologia en running para que puedas disfrutar y tener el grado de dificultad que mejor se adapte a tu nivel.</span>
        </div>
    </div>
</section>
<!-- end: BOXES -->
