<div class="page-menu">
    <div class="container">
      <nav>
        <ul>
          <li><a href="/cuenta/inicio">Mi Cuenta</a></li>
          <li><a href="/cuenta/mis/datos">Mis Datos</a></li>
          <li><a href="/cuenta/mis/facturas">Mis Facturas</a></li>
          <!-- <li [class.active]="active == 'factura'"><a href="/cuenta/factura/list">Facturas</a> -->
          <!-- <li class="dropdown" *ngIf="sessionUser.isAdmin" >
            <a href="javascript:;">Web</a>
            <ul class="dropdown-menu">
              <li><a href="#">Slider</a></li>
              <li><a href="#">Páginas</a></li>
            </ul>
          </li> -->
          <li [class]="'dropdown'" *ngIf="sessionUser.isAdmin">
            <a href="javascript:;">Actividades</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/cuenta/actividad/list">Actividades</a></li>
                <li><a class="dropdown-item" href="/cuenta/slot/list">Slots</a></li>
                <li><a class="dropdown-item" href="/cuenta/reserva/list">Reservas</a></li>
                <li><a class="dropdown-item" href="/cuenta/sala/list">Salas</a></li>
            </ul>
          </li>
          <!--li class="dropdown" -->
          <li class="dropdown" [class.active]="active == 'ejercicio'"  *ngIf="sessionUser.isAdmin || sessionUser.isMonitor">
            <a href="javascript:;">Ejercicios</a>
            <ul class="dropdown-menu menu-last">
                <li><a class="dropdown-item" href="/cuenta/tablaEjercicio/list">Tablas</a></li>
                <!--li><a class="dropdown-item" href="/cuenta/ejercicioSerie/list">Series</a></li-->
                <li><a class="dropdown-item" href="/cuenta/ejercicio/list">Ejercicios</a></li>
            </ul>
          </li>
          <!--li class="dropdown" -->
          <li class="dropdown" [class.active]="active == 'usuario'" *ngIf="sessionUser.isAdmin">
            <a href="javascript:;">Usuarios</a>
            <ul class="dropdown-menu menu-last">
                <li><a class="dropdown-item" href="/cuenta/usuario/list">Usuarios</a></li>
                <li><a class="dropdown-item" href="/cuenta/rol/list">Roles</a></li>
                <li><a class="dropdown-item" href="/cuenta/taquilla/list">Taquillas</a></li>
                <!--li><a class="dropdown-item" href="/cuenta/direccion/list">Direcciones</a></li-->
                <li><a class="dropdown-item" href="/cuenta/suscripcion/list">Suscripciones</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div id="pageMenu-trigger">
        <i class="fa fa-bars"></i>
      </div>
    </div>
</div>
