<ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
        <a class="nav-link" [class.active]="active == 'datos'" href="#">Datos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="active == 'horario'" href="#">Horario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="active == 'factura'" href="#">Facturas</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Web
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Páginas</a></li>
            <li><a class="dropdown-item" href="#">Slider</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Configuración
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Actividad</a></li>
            <li><a class="dropdown-item" href="#">Actividad Tipo</a></li>
            <li><a class="dropdown-item" href="#">Monitores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </li>
</ul>
