<app-pagetitle
  [pageTitle]="pageTitle"
  [pageDesc]="pageDesc"
  [pageImg]="pageImg"
></app-pagetitle>
<section>
  <div class="container" *ngIf="isDataLoaded">
    <div class="mb-5">
        <div class="row" >
            <div class="col-md-12" >
                <form #formSearchHorario="ngForm" >
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="filter_tipo_vista">Tipo de vista</label>
                            <select class="form-control" name="filter_actividad" [(ngModel)]="filters.type">
                                <option selected="selected" value="tabla">Tabla</option>
                                <option value="lista">Lista</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="filter_fecha_inicio">Fecha de inicio</label>
                            <input
                            class="form-control"
                            type="date"
                            name="filter_fecha_inicio"
                            />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="filter_actividad">Actividad</label>
                            <select class="form-control" name="filter_actividad" (change)="searchByActividad($event.target.value)">
                                <option *ngFor="let actividad of actividades" [value]="actividad.id">{{actividad.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="filter_monitor">Monitor</label>
                            <select class="form-control" name="filter_monitor" (change)="searchByMonitor($event.target.value)">
                                <option *ngFor="let monitor of monitores" [value]="monitor.id">{{monitor.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="filters.type == 'tabla'; else vistaTimeline">
        <horario-tabla [searchResults]="searchResultSlots"></horario-tabla>
    </div>
    <ng-template #vistaTimeline>
        <horario-timeline [searchResults]="searchResultSlots"></horario-timeline>
    </ng-template>
  </div>
  <div class="container" *ngIf="!isDataLoaded">
      cargando...
  </div>
</section>


