<section>
    <div class="container">
        <div class="row">
            <div class="content col-md-12">
                <div class="heading-text text-center heading-section">
                    <h5 class="text-uppercase">Ven a vernos. Te va a encantar.</h5>
                    <h2 class="font-weight-600"><span>Nuestras Instalaciones</span></h2>
                    <p class="font-weight-400">Contamos con mucho espacio y cumplimos con todas las medidas de higiene y protección</p>
                </div>

                <!--Gallery Carousel -->
                <div class="carousel" data-items="3" data-dots="false" data-lightbox="gallery">
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_1.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_2.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_3.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_4.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_5.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_6.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_7.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_8.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_9.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_10.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                    <galeria-portfolio-item [itemTitle]="'Nuestras Instalaciones'"  [itemImage]="'assets/fitness/images/el_gym/el_gym_11.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
                </div>
                <!--Gallery Carousel -->
            </div>
        </div>
    </div>
</section>
