<h3>Nuevo Tabla de Ejercicio</h3>
<div class="card-body">
  <form
    class="form-validate"
    name="form"
    (ngSubmit)="f.form.valid && addUsuario()"
    #f="ngForm"
  >
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="nombre">(*) Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          #usuarioNombre="ngModel"
          [(ngModel)]="nuevoUsuario.nombre"
          placeholder="Nombre usuario"
          required
          pattern="^([a-zA-Za´´eíóúÁÉÍÓÚ]){1}[a-zA-Z áéíóúÁÉÍÓÚ]{2,50}"
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioNombre.invalid) ||
              (usuarioNombre.touched && !usuarioNombre.valid)
          }"
        />
        <div
          *ngIf="
            (f.submitted && usuarioNombre.invalid) ||
            (usuarioNombre.touched && !usuarioNombre.valid)
          "
          class="invalid-feedback"
        >
          <div *ngIf="usuarioNombre.errors.required || usuarioNombre.invalid">
            * Nombre no válido
          </div>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="apellido">(*) Apellido</label>
        <input
          type="text"
          class="form-control"
          id="apellido"
          name="apellido"
          #usuarioApellido="ngModel"
          [(ngModel)]="nuevoUsuario.apellidos"
          placeholder="Apellidos usuario"
          required
          pattern="^([a-zA-ZáéíóúÁÉÍÓÚ]){1}[a-zA-Z áéíóúÁÉÍÓÚ]{2,70}"
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioApellido.invalid) ||
              (usuarioApellido.touched && !usuarioApellido.valid)
          }"
        />
        <div
          *ngIf="
            (f.submitted && usuarioApellido.invalid) ||
            (usuarioApellido.touched && !usuarioApellido.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="usuarioApellido.errors.required || usuarioApellido.invalid"
          >
            * Apellido no válido
          </div>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="dni">(*) DNI</label>
        <input
          type="text"
          class="form-control"
          id="dni"
          name="dni"
          #usuarioDni="ngModel"
          [(ngModel)]="nuevoUsuario.dni"
          placeholder="ej: 55668877X"
          required
          pattern="^(\d){8}[a-zA-Z]{1}"
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioDni.invalid) ||
              (usuarioDni.touched && !usuarioDni.valid)
          }"
        />
        <div
          *ngIf="
            (f.submitted && usuarioDni.invalid) ||
            (usuarioDni.touched && !usuarioDni.valid)
          "
          class="invalid-feedback"
        >
          <div *ngIf="usuarioDni.errors.required || usuarioDni.invalid">
            * Dni no válido
          </div>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="telefono">(*) Teléfono</label>
        <input
          type="text"
          class="form-control"
          id="telefono"
          name="telefono"
          #usuarioTelefono="ngModel"
          [(ngModel)]="nuevoUsuario.telefono"
          placeholder="Ej:666555444"
          required
          pattern="^(6|7|8|9){1}\d{8,9}"
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioTelefono.invalid) ||
              (usuarioTelefono.touched && !usuarioTelefono.valid)
          }"
        />
        <div
          *ngIf="
            (f.submitted && usuarioTelefono.invalid) ||
            (usuarioTelefono.touched && !usuarioTelefono.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="usuarioTelefono.errors.required || usuarioTelefono.invalid"
          >
            * Teléfono no válido
          </div>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="fechaNacimiento">(*) Fecha Nacimiento</label>
        <input
          type="date"
          class="form-control"
          id="fechaNacimiento"
          name="fechaNacimiento"
          #usuarioFechaNacimiento="ngModel"
          [(ngModel)]="nuevoUsuario.fechaNacimiento"
          placeholder="Nombre Tipo ejercicio"
          required
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioFechaNacimiento.invalid) ||
              (usuarioFechaNacimiento.touched && !usuarioFechaNacimiento.valid)
          }"
        />
        <div
          *ngIf="
            (f.submitted && usuarioFechaNacimiento.invalid) ||
            (usuarioFechaNacimiento.touched && !usuarioFechaNacimiento.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              usuarioFechaNacimiento.errors.required ||
              usuarioFechaNacimiento.invalid
            "
          >
            * Fecha no válida
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="email">(*) Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          #usuarioEmail="ngModel"
          [(ngModel)]="nuevoUsuario.email"
          placeholder="Email usuario"
          required
          pattern="^([a-z0-9]{1})((\.|\-)?([a-z0-9])){0,}@([a-z0-9]){1}((\.|\-)?([a-z0-9]))*\.([a-z]){2,4}$"
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioEmail.invalid) ||
              (usuarioEmail.touched && !usuarioEmail.valid)
          }"
        />
        <div
          *ngIf="
            (f.submitted && usuarioEmail.invalid) ||
            (usuarioEmail.touched && !usuarioEmail.valid)
          "
          class="invalid-feedback"
        >
          <div *ngIf="usuarioEmail.errors.required || usuarioEmail.invalid">
            * Email no válido
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="password">(*) Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          #usuarioPassword="ngModel"
          [(ngModel)]="nuevoUsuario.password"
          placeholder="6 caract. min (por ahora)"
          required
          pattern="\w{6,}"
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioPassword.invalid) ||
              (usuarioPassword.touched && !usuarioPassword.valid)
          }"
        />
        <div
          *ngIf="
            (f.submitted && usuarioPassword.invalid) ||
            (usuarioPassword.touched && !usuarioPassword.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="usuarioPassword.errors.required || usuarioPassword.invalid"
          >
            * Password no válida
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="cuentaBancaria">(*) Cuenta Bancaria</label>
        <input
          type="text"
          class="form-control"
          id="cuentaBancaria"
          name="cuentaBancaria"
          #usuarioCuentaBancaria="ngModel"
          [(ngModel)]="nuevoUsuario.cuentaBancaria"
          placeholder="ES55 4444 4444 44 444444444 "
          required
          pattern="(ES\d{2} \d{4} \d{4} \d{2} \d{10}|ES\d{22})"
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioCuentaBancaria.invalid) ||
              (usuarioCuentaBancaria.touched && !usuarioCuentaBancaria.valid)
          }"
        />
        <div
          *ngIf="
            (f.submitted && usuarioCuentaBancaria.invalid) ||
            (usuarioCuentaBancaria.touched && !usuarioCuentaBancaria.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              usuarioCuentaBancaria.errors.required ||
              usuarioCuentaBancaria.invalid
            "
          >
            * Cuenta Bancaria no válida
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="direccion">(*) Dirección</label>
        <select
          class="form-control"
          name="direccion"
          id="direccion"
          #usuarioDireccion="ngModel"
          [(ngModel)]="DireccionId"
          required
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioDireccion.invalid) ||
              (usuarioDireccion.touched && !usuarioDireccion.valid)
          }"
          [(ngModel)]="direccionSelect"
        >
          <option value="" selected>- Elige una opción -</option>
          <!--p> aqui se haria un if que sacase todos los que tuvieran usuario.rol == monitor </p-->
          <option
            *ngFor="let direccion of direcciones"
            value="{{ direccion.id }}"
          >
            {{ direccion.calle }} - {{ direccion.localidad.nombre }} -{{
              direccion.codigoPostal
            }}
          </option>
        </select>
        <div
          *ngIf="
            (f.submitted && usuarioDireccion.invalid) ||
            (usuarioDireccion.touched && !usuarioDireccion.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="usuarioDireccion.errors.required || usuarioDireccion.invalid"
          >
            * Dirección no válida
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="suscripcion">(*) Suscripcion</label>
        <select
          class="form-control"
          name="suscripcion"
          id="suscripcion"
          #usuarioSuscripcion="ngModel"
          [(ngModel)]="suscripcionId"
          required
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioSuscripcion.invalid) ||
              (usuarioSuscripcion.touched && !usuarioSuscripcion.valid)
          }"
          [(ngModel)]="suscripcionSelect"
        >
          <option value="" selected>- Elige una opción -</option>
          <!--p> aqui se haria un if que sacase todos los que tuvieran usuario.rol == monitor </p-->
          <option
            *ngFor="let suscripcion of suscripciones"
            value="{{ suscripcion.id }}"
          >
            {{ suscripcion.tipoSuscripcion.duracion }}/Días -
            {{ suscripcion.tipoSuscripcion.tarifa }}€
          </option>
        </select>
        <div
          *ngIf="
            (f.submitted && usuarioSuscripcion.invalid) ||
            (usuarioSuscripcion.touched && !usuarioSuscripcion.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              usuarioSuscripcion.errors.required || usuarioSuscripcion.invalid
            "
          >
            * Suscripcion no válida
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="taquilla">(*) Taquilla</label>
        <select
          class="form-control"
          name="taquilla"
          id="taquilla"
          #usuarioTaquilla="ngModel"
          [(ngModel)]="TaquillaId"
          required
          [ngClass]="{
            'is-invalid':
              (f.submitted && usuarioTaquilla.invalid) ||
              (usuarioTaquilla.touched && !usuarioTaquilla.valid)
          }"
          [(ngModel)]="taquillaSelect"
        >
          <option value="" selected>- Elige una opción -</option>
          <!--p> aqui se haria un if que sacase todos los que tuvieran usuario.rol == usuario </p-->
          <option *ngFor="let taquilla of taquillas" value="{{ taquilla.id }}">
            {{ taquilla.numero }}
          </option>
        </select>
        <div
          *ngIf="
            (f.submitted && usuarioTaquilla.invalid) ||
            (usuarioTaquilla.touched && !usuarioTaquilla.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="usuarioTaquilla.errors.required || usuarioTaquilla.invalid"
          >
            * Taquilla no válida
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn m-t-30 mt-3">Añadir</button>
  </form>
</div>
