<app-pagetitle [pageTitle]="pageTitle" [pageDesc]="pageDesc" [pageImg]="pageImg"></app-pagetitle>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>FIL's Center Gym S.L. por su propia cuenta o la de un tercero contratado para la prestación de servicios de medición, puede utilizar cookies cuando un usuario navega por el sitio web. Las cookies son ficheros enviados al navegador por medio de un servidor web con la finalidad de registrar las actividades del usuario durante su tiempo de navegación.</p>
                <p>Las cookies utilizadas por el sitio web se asocian únicamente con un usuario anónimo y su ordenador, y no proporcionan por sí mismas los datos personales del usuario.</p>
                <p>Mediante el uso de las cookies resulta posible que el servidor donde se encuentra la web, reconozca el navegador web utilizado por el usuario con la finalidad de que la navegación sea más sencilla, permitiendo, por ejemplo, el acceso a los usuarios que se hayan registrado previamente, acceder a las áreas, servicios, promociones o concursos reservados exclusivamente a ellos sin tener que registrarse en cada visita. Se utilizan también para medir la audiencia y parámetros del tráfico, controlar el progreso y número de entradas.</p>
                <p>Si no se habilitan las cookies, es posible que algunas funciones y páginas no se muestren correctamente.</p>
                <p>Para borrar las cookies en el ordenador, hacer clic en «Ayuda» del menú del navegador para ver las instrucciones.</p>
                <p>El usuario también tiene la posibilidad de configurar su navegador para ser avisado de la recepción de cookies y para impedir su instalación en su equipo. Por favor, consulte las instrucciones y manuales de su navegador para ampliar esta información.</p>
                <p>Para utilizar el sitio web, no resulta necesario que el usuario permita la instalación de las cookies enviadas por el sitio web, o el tercero que actúe en su nombre, sin perjuicio de que sea necesario que el usuario inicie una sesión como tal en cada uno de los servicios cuya prestación requiera el previo registro o “login”.</p>
            </div>
        </div>
    </div>
</section>

<shared-call-to-action
    [title]="'Te esperamos'"
    [classTitle]="'text-light text-medium'"
    [img]="'haltere.jpg'"
    [overlayStyle] = "11"
    [btnTxt]="'Inscríbete'"
    [btnUrl]="'/registro'"
    [btnClass]="'btn-light btn-lg'"
    ></shared-call-to-action>