<section id="section3" class="p-t-120 p-b-120">
  <div class="container">
    <div class="col-lg-8 m-b-100 center">
      <div class="heading-text heading-section text-center">
        <h5 class="text-uppercase">¡Seguro que será facil decidirte!</h5>
        <h2>El precio más asequible</h2>
        <p>
          <b>¿No te lo habíamos dicho ya?</b> <br>
          <b class="text-primary">Somos muy asequibles</b>.<br />
          Decide cuál es el precio que más se adeque a tus circumstancias.
        </p>
      </div>
    </div>
    <hr class="space" />
    <div class="row pricing-table">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan">
          <div class="plan-header">
            <h4>Plan FREE</h4>
            <p class="text-muted">Mensual</p>
            <div class="plan-price">27<sup>€</sup><span>/mes</span></div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fas fa-lock-open"></i>Acceso ilimitado</li>
              <li><i class="fa fa-handshake"></i>Inscripción según promoción</li>
              <li><i class="fa fa-users"></i>Actividades colectivas</li>
              <li><i class="fa fa-money-bill-wave"></i>Pago mes a mes</li>
            </ul>
            <div class="plan-button">
              <a href="/registro" class="btn btn-light">Inscríbete Ahora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan featured">
          <div class="plan-header">
            <h4>Plan Deluxe</h4>
            <p class="text-muted">Trimestral</p>
            <div class="plan-price">20<sup>€</sup><span>/mes</span></div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fas fa-lock-open"></i>Acceso ilimitado</li>
              <li><i class="fa fa-handshake"></i>Inscripción según promoción</li>
              <li><i class="fa fa-users"></i>Actividades colectivas</li>
              <li><i class="fa fa-money-bill-wave"></i>El trimestre sale por 75€</li>
            </ul>
            <div class="plan-button">
              <a href="/registro" class="btn">Inscríbete Ahora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="plan">
          <div class="plan-header">
            <h4>Plan Adicto</h4>
            <p class="text-muted">Anual</p>
            <div class="plan-price">15<sup>€</sup><span>/mes</span></div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fas fa-lock-open"></i>Acceso ilimitado</li>
              <li><i class="fa fa-handshake"></i>Inscripción según promoción</li>
              <li><i class="fa fa-users"></i>Actividades colectivas</li>
              <li><i class="fa fa-money-nill-wave"></i>El año sale por 180€</li>
            </ul>
            <div class="plan-button">
              <a href="/registro" class="btn btn-light">Inscríbete Ahora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
