<app-topbar></app-topbar>

<!-- Header -->
<header id="header" data-transparent="true" class="header-modern dark">
    <div class="header-inner">
        <div class="container">
            <!--Logo-->
            <div id="logo">
                <a href="/inicio">
                        <img src="assets/fitness/images/logo/logo-filscenter.png" height="60" />
                    <!--
                        <span class="logo-default"></span>
                        <span class="logo-dark">FIL's Center</span>
                    -->
                </a>
            </div>
            <!--End: Logo-->
            <!-- Search -->
            <!--
            <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Cerrar"><i class="icon-x"></i></a>
                <form class="search-form" action="#" method="get">
                    <input class="form-control" name="q" type="text" placeholder="Buscar..." />
                    <span class="text-muted">Teclea y presiona "Enter" ó "ESC" para cerrar</span>
                </form>
            </div>
            -->
            <!-- end: search -->
            <!--Header Extras-->
            <!--
            <div class="header-extras">
                <ul>
                    <li> <a id="btn-search" href="#"> <i class="icon-search"></i></a> </li>
                    <li>
                        <div class="p-dropdown"> <a href="#"><i class="icon-globe"></i><span>EN</span></a>
                            <ul class="p-dropdown-content">
                                <li><a href="#">French</a></li>
                                <li><a href="#">Spanish</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            -->
            <!--end: Header Extras-->
            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
            <!--end: Navigation Resposnive Trigger-->
            <!--Navigation-->
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            <li><a href="/inicio" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
                            <li><a href="/quienes-somos" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">Quiénes somos</a></li>
                            <li><a href="/clases" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">Clases</a></li>
                            <li><a href="/servicios" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">Servicios</a></li>
                            <li><a href="/horario" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">Horario</a></li>
                            <li><a href="/contacto" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">Contacto</a></li>
                            <li class="dropdown">
                                <a href="javascript:;" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">Área personal</a>
                                <ul class="dropdown-menu" *ngIf="isLoggedIn; else menuNotLoggedIn">
                                    <li><a href="/cuenta/inicio">Mi Cuenta</a></li>
                                    <li><a href="/cuenta/mis/datos">Mis Datos</a></li>
                                    <li><a href="/cuenta/mis/facturas">Mis Facturas</a></li>
                                    <li><a href="javascript:;" (click)="logout()">Salir</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
    </div>
</header>
<!-- end: Header -->


<ng-template #menuNotLoggedIn>
    <ul class="dropdown-menu">
        <li><a href="/cuenta">Mis Datos</a></li>
        <li><a href="/iniciar-sesion">Iniciar Sesión</a></li>
        <li><a href="/registro">Registro</a></li>
    </ul>
</ng-template>