<div class="d-flex justify-content-end">
  <button
    id="plus"
    (click)="habilitarEjercicioSerie()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Ejercicio Serie
  </button>
  <button
    id="minus"
    (click)="deshabilitarEjercicioSerie()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Ejercicio Serie
  </button>
</div>
<div *ngIf="mostrarEjercicioSerieAdd == true">
  <app-ejercicio-serie-add></app-ejercicio-serie-add>
</div>

<h3 class="">Ejercicios Series</h3>

<div class="card-text">
  <div class="card-text">
    <table
      id="datatable"
      class="table table-bordered table-hover dataTable text-center"
      style="width: 100%"
      role="grid"
      aria-describedby="datatable_info"
    >
      <thead>
        <tr role="row">
          <th
            id=""
            id=""
            class="noExport sorting"
            tabindex="0"
            aria-controls="datatable"
            rowspan="1"
            colspan="1"
            aria-label="Actions: activate to sort column ascending"
            style="width: 54px"
          >
            Tabla
          </th>
          <th
            id=""
            id=""
            class="noExport sorting"
            tabindex="0"
            aria-controls="datatable"
            rowspan="1"
            colspan="1"
            aria-label="Actions: activate to sort column ascending"
            style="width: 54px"
          >
            Nombre ejercicio
          </th>
          <th
            id=""
            id=""
            class="noExport sorting"
            tabindex="0"
            aria-controls="datatable"
            rowspan="1"
            colspan="1"
            aria-label="Actions: activate to sort column ascending"
            style="width: 54px"
          >
            Series
          </th>
          <th
            id=""
            id=""
            class="noExport sorting"
            tabindex="0"
            aria-controls="datatable"
            rowspan="1"
            colspan="1"
            aria-label="Actions: activate to sort column ascending"
            style="width: 54px"
          >
            Repeticiones
          </th>
          <th
            id=""
            id=""
            class="noExport sorting"
            tabindex="0"
            aria-controls="datatable"
            rowspan="1"
            colspan="1"
            aria-label="Actions: activate to sort column ascending"
            style="width: 54px"
          >
            Veces por semana
          </th>
          <th
            id=""
            class="noExport sorting"
            tabindex="0"
            aria-controls="datatable"
            rowspan="1"
            colspan="1"
            aria-label="Actions: activate to sort column ascending"
            style="width: 54px"
          >
            Acciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ejercicioSerie of ejercicioSeries" class="text-center">
          <td>{{ ejercicioSerie.tablaEjercicio.id }}</td>
          <td class="text-left">{{ ejercicioSerie.ejercicio.nombre }}</td>
          <td>{{ ejercicioSerie.series }}</td>
          <td>{{ ejercicioSerie.repeticiones }}</td>
          <td>{{ ejercicioSerie.porSemana }}</td>
          <td>
            <a class="ml-2" data-toggle="tooltip" data-original-title="Edit"
            (click)="open(content,ejercicioSerie)"
              ><i class="icon-edit"></i
            ></a>
            <a
              class="ml-2"
              data-toggle="tooltip"
              data-original-title="Delete"
              (click)="openModalDelete(confirmDelete,this.ejercicioSerie)"
              ><i class="icon-trash-2"></i
            ></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th id="">Tabla</th>
          <th id="">Nombre ejercicio</th>
          <th id="">Series</th>
          <th id="">Repeticiones</th>
          <th id="">Veces por semana</th>
          <th id="" rowspan="1" colspan="1">Acciones</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>¿Seguro que quieres borrar el ejercicio serie <span class="text-danger">{{ejercicioSerieAux.ejercicio.nombre}}-{{ejercicioSerieAux.series}}x{{ejercicioSerieAux.repeticiones}} ({{ejercicioSerieAux.id}})?</span></h3>
    </div>
  </div>
  <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button (click)="delete()" type="button" class="btn btn-primary">Borrar</button>
        </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Ejercicio</h4>
  </div>
  <div class="modal-body" *ngIf="ejercicioSerieUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update()"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="semana">(*) Veces por Semana</label>
            <input
              type="number"
              class="form-control"
              id="semana"
              name="semana"
              #ejercicioSerieSemana="ngModel"
              [(ngModel)]="ejercicioSerieUpdate.porSemana"
              placeholder="Veces a realizar por semana"
              required
              min="1"
              max="6"
              pattern="^([1-9]){1}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieSemana.invalid) ||
                  (ejercicioSerieSemana.touched && !ejercicioSerieSemana.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioSerieSemana.invalid) ||
                (ejercicioSerieSemana.touched && !ejercicioSerieSemana.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieSemana.errors.required ||
                  ejercicioSerieSemana.invalid
                "
              >
                * Veces seleccionadas no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="repeticiones">(*) Repeticiones</label>
            <input
              type="number"
              class="form-control"
              id="repeticiones"
              name="repeticiones"
              #ejercicioSerieRepeticiones="ngModel"
              [(ngModel)]="ejercicioSerieUpdate.repeticiones"
              placeholder="Series del ejercicio"
              required
              min="1"
              max="999"
              pattern="^([1-9]){1}\d*"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieRepeticiones.invalid) ||
                  (ejercicioSerieRepeticiones.touched &&
                    !ejercicioSerieRepeticiones.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioSerieRepeticiones.invalid) ||
                (ejercicioSerieRepeticiones.touched &&
                  !ejercicioSerieRepeticiones.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieRepeticiones.errors.required ||
                  ejercicioSerieRepeticiones.invalid
                "
              >
                * Repeticiones no válidas
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="series">(*) Series</label>
            <input
              type="number"
              class="form-control"
              id="series"
              name="series"
              #ejercicioSerieSeries="ngModel"
              [(ngModel)]="ejercicioSerieUpdate.series"
              placeholder="Series del ejercicio"
              required
              min="1"
              max="15"
              pattern="^([1-9]){1}\d*"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieSeries.invalid) ||
                  (ejercicioSerieSeries.touched && !ejercicioSerieSeries.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioSerieSeries.invalid) ||
                (ejercicioSerieSeries.touched && !ejercicioSerieSeries.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieSeries.errors.required ||
                  ejercicioSerieSeries.invalid
                "
              >
                * Series seleccionadas no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="ejercicio">(*) Ejercicio</label>
            <select
              class="form-control"
              name="ejercicio"
              id="ejercicio"
              #ejercicioSerieEjercicio="ngModel"
              [(ngModel)]="ejercicioId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieEjercicio.invalid) ||
                  (ejercicioSerieEjercicio.touched &&
                    !ejercicioSerieEjercicio.valid)
              }"
              [(ngModel)]="ejercicioSerieUpdate.ejercicio.id"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let ejercicio of ejercicios"
                value="{{ ejercicio.id }}"
              >
                {{ ejercicio.nombre }}
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && ejercicioSerieEjercicio.invalid) ||
                (ejercicioSerieEjercicio.touched &&
                  !ejercicioSerieEjercicio.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieEjercicio.errors.required ||
                  ejercicioSerieEjercicio.invalid
                "
              >
                * Seleccione un ejercicio
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="tabla">(*) Tabla de ejercicio</label>
            <select
              class="form-control"
              name="tabla"
              id="tabla"
              #ejercicioSerieTabla="ngModel"
              [(ngModel)]="tablaId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieTabla.invalid) ||
                  (ejercicioSerieTabla.touched && !ejercicioSerieTabla.valid)
              }"
              [(ngModel)]="ejercicioSerieUpdate.tablaEjercicio.id"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let tablaEjercicio of tablasEjercicio"
                value="{{ tablaEjercicio.id }}"
              >
                {{ tablaEjercicio.suscriptor.nombre }} (
                {{ tablaEjercicio.fechaInicio | date: "M/d/yy" }} -
                {{ tablaEjercicio.fechaFin | date: "M/d/yy" }})
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && ejercicioSerieTabla.invalid) ||
                (ejercicioSerieTabla.touched && !ejercicioSerieTabla.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieTabla.errors.required ||
                  ejercicioSerieTabla.invalid
                "
              >
                * Seleccione una tabla
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
