<div style="margin-top: 35px" class="d-flex justify-content-end">
  <button
    id="plus"
    (click)="habilitarReserva()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Reserva
  </button>
  <button
    id="minus"
    (click)="deshabilitarReserva()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Reserva
  </button>
</div>
<div *ngIf="mostrarReservaAdd == true">
  <app-reserva-add></app-reserva-add>
</div>

<div class="row input-group">
  <div class="col-sm-12 col-md-4">
    <h3 class="text-left mb-5">Reserva</h3>
  </div>
  <!--div class="col-sm-12 col-md-8 d-flex justify-content-end">
    <div class="form-outline">
      <label
        >Usuario:
        <input
          [(ngModel)]="filterUser"
          type="search"
          class="form-control form-control-sm"
          (keypress)="keyPress($event)"
          placeholder=""
      /></label>
      <label for="">
        <button
          type="button"
          class="btn btn-primary mt-2"
          (click)="filtrarTabla()"
        >
          <i class="fas fa-search"></i>
        </button>
      </label>

      <button
        style="height: 40px"
        (click)="quitarFiltroTabla()"
        type="button"
        class="btn btn-secondary mt-2 ml-4"
      >
        <i class="fas fa-sync text-light"></i>
      </button>
    </div>
  </div-->
</div>

<div class="card-text">
  <table
  datatable="ng"
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
    id="datatable"
    class="table table-bordered table-hover table-responsive-sm"
    style="width: 100%"
  >
    <thead>
      <tr role="row">
        <th
          id=""
          style="width: 45px"
        >
          Recurrente
        </th>
        <th
          id=""
          style="width: 45px"
        >
          Slot
        </th>
        <th
          id=""
          style="width: 45px"
        >
          Horario
        </th>
        <th
          id=""
          style="width: 45px"
        >
          Usuario
        </th>
        <th
          id=""
          style="width: 54px"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas" class="text-center">
        <td class="text-left">
          {{ reserva.recurrente == true ? "Sí" : "No" }}
        </td>
        <td class="text-left">{{ reserva.slot.diaSemana }}</td>
        <td>{{ reserva.slot.horaInicio | formatoHora }}</td>
        <td class="text-left">{{ reserva.usuario.nombre }}</td>
        <td class="text-left">
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Edit"
            (click)="open(content, reserva)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="openModalDelete(confirmDelete, this.reserva)"
            ><i class="icon-trash-2"></i
          ></a>
        </td>
      </tr>
      <tr *ngIf="filterError">
        <td colspan="5" class="text-danger font-weight-bold">No hubo resultados en su búsqueda</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="" rowspan="1" colspan="1">Recurrente</th>
        <th id="" rowspan="1" colspan="1">Slot</th>
        <th id="" rowspan="1" colspan="1">Horario</th>
        <th id="" rowspan="1" colspan="1">Usuario</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>
        ¿Seguro que quieres borrar la reserva
        <span class="text-danger"
          >{{ reservaAux.slot.diaSemana }} ({{
            reservaAux.slot.horaInicio | formatoHora
          }})?</span
        >
      </h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      Cancelar
    </button>
    <button (click)="delete()" type="button" class="btn btn-primary">
      Borrar
    </button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Ejercicio</h4>
  </div>
  <div class="modal-body" *ngIf="reservaUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update(updateModalReserva)"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="recurrente">(*) Recurrente</label>
            <select
              class="form-control"
              name="recurrente"
              id="recurrente"
              #reservaRecurrrente="ngModel"
              [(ngModel)]="reservaUpdate.recurrente"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && reservaRecurrrente.invalid) ||
                  (reservaRecurrrente.touched && !reservaRecurrrente.valid)
              }"
              [(ngModel)]="reservaUpdate.recurrente"
            >
              <option value="" selected>- Elige una opción -</option>
              <option value="true">Sí</option>
              <option value="false">No</option>
            </select>
            <div
              *ngIf="
                (f.submitted && reservaRecurrrente.invalid) ||
                (reservaRecurrrente.touched && !reservaRecurrrente.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  reservaRecurrrente.errors.required ||
                  reservaRecurrrente.invalid
                "
              >
                * opción no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="slot">(*) Slot</label>
            <select
              class="form-control"
              name="slot"
              id="slot"
              #reservaSlot="ngModel"
              [(ngModel)]="slotId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && reservaSlot.invalid) ||
                  (reservaSlot.touched && !reservaSlot.valid)
              }"
              [(ngModel)]="reservaUpdate.slot.id"
            >
              <option value="" selected>- Elige una opción -</option>
              <option *ngFor="let slot of slots" value="{{ slot.id }}">
                {{ slot.actividad.nombre }} -
                {{ slot.horaInicio | formatoHora }} - {{ slot.diaSemana }}
              </option>
            </select>
            <div
              *ngIf="
                (f.submitted && reservaSlot.invalid) ||
                (reservaSlot.touched && !reservaSlot.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="reservaSlot.errors.required || reservaSlot.invalid">
                * slot no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="usuario">(*) Usuario</label>
            <select
              class="form-control"
              name="usuario"
              id="usuario"
              #reservaUsuario="ngModel"
              [(ngModel)]="usuarioId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && reservaUsuario.invalid) ||
                  (reservaUsuario.touched && !reservaUsuario.valid)
              }"
              [(ngModel)]="reservaUpdate.usuario.id"
            >
              <option value="" selected>- Elige una opción -</option>
              <option *ngFor="let usuario of usuarios" value="{{ usuario.id }}">
                {{ usuario.nombre }}
              </option>
            </select>
            <div
              *ngIf="
                (f.submitted && reservaUsuario.invalid) ||
                (reservaUsuario.touched && !reservaUsuario.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="reservaUsuario.errors.required || reservaUsuario.invalid"
              >
                * Usuario no válida
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #updateModalReserva let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Update</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>{{ textoModal }}</h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modal.dismiss(); refresh()"
    >
      Cerrar
    </button>
  </div>
</ng-template>
