<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading-text heading-section">
                    <h5 class="text-uppercase">¡DESCUBRE EL SOCIAL FITNESS EN FIL'S CENTER!</h5>
                    <h2 class="font-weight-600">Somos una comunidad</h2>
                    <p class="font-weight-400">
                        Nos unen muchas más cosas que el gusto por hacer deporte y un estilo de vida saludable. En FIL's Center Gym nos gusta disfrutar de la vida al máximo, hacer nuevas amistades, compartir buenos momentos… Juntos somos capaces de llegar más lejos, de superar retos y desafiar los límites. La comunidad de socios FIL's Center Gym se hace, día a día, más fuerte y nos encantaría contar contigo. ¡Somos mucho más que un gimnasio! ¿Te atreves a descubrirlo?
                    </p>
                    <a href="/registro" class="btn btn-icon-holder btn-shadow btn-rounded">Inscríbete<i class="icon-user-plus"></i></a>
                    <a href="/iniciar-sesion" class="btn btn-icon-holder btn-shadow btn-rounded">Área Personal<i class="icon-log-in"></i></a>
                    <a href="/contacto" class="btn btn-icon-holder btn-shadow btn-rounded">Contacto<i class="icon-mail"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="assets/fitness/images/el_gym.jpg" class="img-fluid rounded" alt="El Gymnasio">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="/horario" class="btn btn-info btn-icon-holder btn-shadow btn-rounded mt-4">Horario Actividades<i class="icon-calendar"></i></a>
            </div>
        </div>
    </div>
</section>
