<div class="d-flex justify-content-end">
  <button
    id="plus"
    enabled
    (click)="habilitarTipoEjercicio()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Tipo De Ejercicio
  </button>
  <button
    id="minus"
    (click)="deshabilitarTipoEjercicio()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Tipo De Ejercicio
  </button>
</div>
<div *ngIf="mostrarTipoEjercicioAdd == true">
  <app-tipo-ejercicio-add></app-tipo-ejercicio-add>
</div>

<h3 class="card-title mb-5">Tipos De Ejercicio</h3>
<div class="card-text">
  <table
    datatable="ng"
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    id="datatable"
    class="table table-bordered table-hover dataTable"
    style="width: 100%"
    role="grid"
    aria-describedby="datatable_info"
  >
    <thead>
      <tr role="row">
        <th id="" style="width: 45px">Nombre</th>

        <th id="" style="width: 54px">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipoEjercicio of tiposEjercicio" class="text-center">
        <td class="text-left">{{ tipoEjercicio.nombre }}</td>
        <td class="text-left">
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Edit"
            (click)="open(content, tipoEjercicio)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="openModalDelete(confirmDelete, this.tipoEjercicio)"
            ><i class="icon-trash-2"></i
          ></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="" rowspan="1" colspan="1">Nombre</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>
        ¿Seguro que quieres borrar el tipo de ejercicio
        <span class="text-danger"
          >{{ tipoEjercicioAux.nombre }} ({{ tipoEjercicioAux.id }})?</span
        >
      </h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      Cancelar
    </button>
    <button (click)="delete()" type="button" class="btn btn-primary">
      Borrar
    </button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Tipo de Ejercicio</h4>
  </div>
  <div class="modal-body" *ngIf="tipoEjercicioUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update(updateModalTipoEjercicio)"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Nombre Tipo de Ejercicio</label>
            <input
              type="text"
              class="form-control"
              name="nombre"
              #nombreTipoEjercicio="ngModel"
              [(ngModel)]="tipoEjercicioUpdate.nombre"
              placeholder="Nombre Tipo de Ejercicio"
              required
              pattern="^([a-zA-ZáéíóúüÁÉÍÓÚÜ]){1}([a-zA-Z_ áéíóúüÁÉÍÓÚÜ0-9]){2,100}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && nombreTipoEjercicio.invalid) ||
                  (nombreTipoEjercicio.touched && !nombreTipoEjercicio.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && nombreTipoEjercicio.invalid) ||
                (nombreTipoEjercicio.touched && !nombreTipoEjercicio.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  nombreTipoEjercicio.errors.required ||
                  nombreTipoEjercicio.invalid
                "
              >
                * Nombre no válido
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #updateModalTipoEjercicio let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Update</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>{{ textoModal }}</h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modal.dismiss(); refresh()"
    >
      Cerrar
    </button>
  </div>
</ng-template>
