<section>
    <div class="container">
        <div class="heading-text text-center">
            <h2>¡Lo que están diciendo!</h2>
            <p class="lead text-center"><b class="text-primary">Somos una comunidad.</b><br/> Nos gusta pensar en nuestros clientes como amigos y familiares. <br />Al final pasamos mucho tiempo juntos y se crea un buen entorno de companierismo.</p>
        </div>
        <!-- Testimonials -->
        <div class="carousel arrows-visibile testimonial testimonial-single testimonial-left" data-items="1">

            <!-- Testimonials item -->
            <div class="testimonial-item">
                <img src="assets/fitness/images/testimonios/carlos.jpg" alt="Carlos Manzano">
                <p>He estado entrenando con Fit for Living durante aproximadamente 3 meses y estoy logrando cosas que nunca pensé que podría lograr.</p>
                <span class="text-primary">Carlos Manzano</span>
            </div>
            <!-- end: Testimonials item-->

            <!-- Testimonials item -->
            <div class="testimonial-item">
                <img src="assets/fitness/images/testimonios/ainara.jpg" alt="Ainara Nieves">
                <p>He perdido una cantidad considerable de peso, me siento muy bien, ¡y ya es hora de actualizar mi guardarropa! Sé que todavía me queda un largo camino por recorrer, pero confío en que voy en la dirección correcta. ¡Ya no lucho con los niveles de energía y me siento mejor que durante años!</p>
                <span class="text-primary">Ainara Nieves</span>
            </div>
            <!-- end: Testimonials item-->

            <!-- Testimonials item -->
            <div class="testimonial-item">
                <img src="assets/fitness/images/testimonios/adelina.jpg" alt="Adelina Guijarro">
                <p>Acabo de inscribirme por otras 12 semanas (sí, 4 días a la semana). ¡¡¡¡Esta vida puede ser adictiva !!! Felicito a este equipo por la pasión que exudan. Se lo recomiendo a cualquiera que quiera cambiar su vida. es sin duda asombroso y sin duda merece la pena.</p>
                <span class="text-primary">Adelina Guijarro</span>
            </div>
            <!-- end: Testimonials item-->

            <!-- Testimonials item -->
            <div class="testimonial-item">
                <img src="assets/fitness/images/testimonios/ivan.jpg" alt="Ivan Llanos">
                <p>No puedo creer lo profundo que fue el consejo nutricional proporcionado. Solía ​​hacer MUCHO ejercicio y no obtenía los resultados. ¡No fue hasta que comencé a comer bien que obtuve resultados increíbles! Realmente pensé que sabía lo que era "comer bien", ¡pero poco sabía! Gracias Fil's Center Gym.</p>
                <span class="text-primary">Ivan Llanos</span>
            </div>
            <!-- end: Testimonials item-->

        </div>
        <!-- end: Testimonials -->
    </div>
</section>
