<app-pagetitle [pageTitle]="pageTitle" [pageDesc]="pageDesc" [pageImg]="pageImg"></app-pagetitle>
<aboutus-about></aboutus-about>
<aboutus-conceptos></aboutus-conceptos>
<aboutus-galeria></aboutus-galeria>
<aboutus-callaction></aboutus-callaction>
<aboutus-features></aboutus-features>
<aboutus-monitores></aboutus-monitores>
<aboutus-testimonios></aboutus-testimonios>
<shared-call-to-action
    [title]="'Te esperamos'"
    [classTitle]="'text-light text-medium'"
    [img]="'haltere.jpg'"
    [overlayStyle] = "11"
    [btnTxt]="'Inscríbete'"
    [btnUrl]="'/registro'"
    [btnClass]="'btn-light btn-lg'"
    ></shared-call-to-action>
<aboutus-dondeestamos></aboutus-dondeestamos>