<section class="box-fancy section-fullwidth text-light p-b-0">
    <div class="row">
        <div style="background-color:#005eff" class="col-lg-4">
            <h1 class="text-lg text-uppercase">01.</h1>
            <h3>PRUEBA</h3>
            <span>¡Ven a probar! Si no lo has hecho nunca es importante dar el primer paso y probar. ¿No te pica la curiosidad? Hazlo por ti.</span>
        </div>

        <div style="background-color:#0251db" class="col-lg-4">
            <h1 class="text-lg text-uppercase">02.</h1>
            <h3>HÁBITO</h3>
            <span>Al principio siempre cuesta un poco. Es importante mantener el ritmo y formar hábitos. En nada de tiempo te daras cuenta que ya no puedes parar.</span>
        </div>

        <div style="background-color:#0347bc" class="col-lg-4">
            <h1 class="text-lg text-uppercase">03.</h1>
            <h3>AVANZADO</h3>
            <span>Has llegado a un nivel avanzado. Tenemos un equipo que te puede ayudar avanzar todavia más. Date una oportunidad.</span>
        </div>
    </div>
</section>
