<!-- TRAINING STUDIO -->
<section class="p-t-150 p-b-150" data-bg-parallax="assets/fitness/images/parallax/goals.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-light">
                <div class="text-medium font-weight-600">El Gimnasio</div>
                <p class="lead">
                    <b>Nuestro objetivo es que logres el tuyo</b>. <br/><br/>Para ello, ponemos a tu disposición un sistema de entrenamiento que se adapta a ti, con un equipo de profesionales que te ayuda a optimizar tus sesiones para que alcances tus objetivos de una forma rápida y divertida. FIL's Center Gym, tu gimnasio Premium a precio Low Cost.
                </p>
            </div>

            <div class="col-lg-8">
                <div class="carousel" data-items="1" data-lightbox="gallery" data-autoplay="true" data-autoplay="3000" data-loop="true" data-dots="false">
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_13.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_13.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_12.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_12.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_1.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_1.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_2.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_2.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_3.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_3.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_4.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_4.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_5.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_5.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_6.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_6.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_7.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_7.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_8.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_8.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_9.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_9.jpg" alt=""></a>
                    <a data-lightbox="gallery-image" href="assets/fitness/images/el_gym/el_gym_11.jpg" title="Fil's Center Gym"><img src="assets/fitness/images/el_gym/bw_el_gym_11.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: TRAINING STUDIO -->
