<!-- TRAINING STUDIO -->
<section id="section1" class="p-t-150 p-b-150" data-bg-parallax="assets/fitness/images/parallax/5.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-light">
                <div class="display-2">THE CLUB</div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adi pisi cing elit.Lorem ipsum dolor sit amet, consectetur adi pisi cing elit.</p>
            </div>

            <div class="col-lg-8">
                <div class="carousel" data-items="1" data-lightbox="gallery" data-autoplay="true" data-autoplay="3000" data-loop="true" data-dots="false">
                    <a data-lightbox="gallery-image" href="assets/fitness/images/gallery/10.jpg" title="Your image title here!"><img src="assets/fitness/images/gallery/10.jpg" alt=""></a>

                    <a data-lightbox="gallery-image" href="assets/fitness/images/gallery/9.jpg" title="Your image title here!"><img src="assets/fitness/images/gallery/9.jpg" alt=""></a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: TRAINING STUDIO -->
