<div class="row">
    <div class="col-md-8">
        <div class="d-flex align-items-center">
            <div class="mr-4">
                <img [src]="'/assets/uploads/'+image" id="imgAvatar" class="img-fluid rounded-circle" alt="" width="100">
            </div>
            <div class="mr-4">
                <input type="file" class="file-input" accept="image/*" (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload">

                    <button class="btn btn-primary p-2 mr-3" (click)="fileUpload.click()">
                        <i class="icon-upload"></i>
                    </button>

                    {{ fileName || "Seleccione y Sube una imagen." }}        
                </div>
            </div>
            <div class="mr-4" *ngIf="message">
                <div class="badge badge-pill font-size-12" [class]="'badge-'+messageClass" role="alert">{{ message }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        

        <!-- <div class="p-progress-bar-container radius small title-up" *ngIf="progress > 0">
            <div class="p-progress-bar progress-animated" [data-percent]="progress" data-delay="1000" data-type="%" [ngStyle]="{ width: progress + '%' }">
            <div class="progress-title">Subiendo imagen</div>
            <span class="progress-type">%</span><span class="progress-number animated fadeIn">{{ progress }}</span></div>
        </div>
        <span class="btn btn-danger btn-sm" (click)="cancelUpload()" 
              *ngIf="progress > 0"><i class="icon-x mr-1"></i> cancelar</span> -->
    </div>
</div>
