<div>
<ul class="timeline">
  <li class="timeline-item">
    <div class="timeline-icon">1</div>
    <h4>How we started</h4>
    <div class="timeline-item-date">21 January, 2020</div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
      scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas
      placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....
    </p>
  </li>

  <li class="timeline-item">
    <div class="timeline-icon">2</div>
    <h4>The Plan</h4>
    <div class="timeline-item-date">15 May, 2020</div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
      scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas
      placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....
    </p>
  </li>

  <li class="timeline-item">
    <div class="timeline-icon">3</div>
    <h4>Research</h4>
    <div class="timeline-item-date">18 December, 2020</div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
      scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas
      placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....
    </p>
  </li>

  <li class="timeline-item">
    <div class="timeline-icon">4</div>
    <h4>Were we are now</h4>
    <div class="timeline-item-date">30 October, 2020</div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
      scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas
      placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....
    </p>
  </li>
</ul>
</div>
