<!-- TRAINERS -->
<section id="section5" class="text-light" style="background-color: #2D2C2A">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center m-b-40">
                <h2 class="text-lg m-b-20">Fitness Trainers</h2>
                <p class="lead">Beautiful websites are now easy to made! Ready to Purchase POLO Template?</p>
            </div>
        </div>
        <div class="row team-members team-members-circle team-members-transparent m-b-40">
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="assets/fitness/images/trainers/1.png">
                    </div>
                    <div class="team-desc">
                        <h3>Alea Smith</h3>
                        <span>Software Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-dark" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="#" data-width="100">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="#" data-width="118">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="mailto:#" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="assets/fitness/images/trainers/2.png">
                    </div>
                    <div class="team-desc">
                        <h3>Ariol Doe</h3>
                        <span>Software Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-dark" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="#" data-width="100">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="#" data-width="118">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="mailto:#" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="assets/fitness/images/trainers/3.png">
                    </div>
                    <div class="team-desc">
                        <h3>Emma Ross</h3>
                        <span>Software Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-dark" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="#" data-width="100">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="#" data-width="118">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="mailto:#" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="assets/fitness/images/trainers/4.png">
                    </div>
                    <div class="team-desc">
                        <h3>Victor Loda</h3>
                        <span>Software Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet. </p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-dark" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="#" data-width="100">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="#" data-width="118">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-dark" href="mailto:#" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: TRAINERS -->