<app-tipo-ejercicio-list></app-tipo-ejercicio-list>

<div style="margin-top: 35px" class="d-flex justify-content-end">
  <button
    id="plusEjercicio"
    (click)="habilitarEjercicio()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Ejercicio
  </button>
  <button
    id="minusEjercicio"
    (click)="deshabilitarEjercicio()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Ejercicio
  </button>
</div>
<div *ngIf="mostrarEjercicioAdd == true">
  <app-ejercicio-add></app-ejercicio-add>
</div>

<h3 class="card-title text-center">Ejercicio</h3>
<div class="card-text">
  <table
    id="datatable"
    class="table table-bordered table-hover dataTable text-center"
    style="width: 100%"
    role="grid"
    aria-describedby="datatable_info"
  >
    <thead>
      <tr role="row">
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Nombre Ejercicio
        </th>
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Tipo de Ejercicio
        </th>
        <th
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ejercicio of ejercicios" class="text-center">
        <td>{{ ejercicio.nombre }}</td>
        <td>{{ ejercicio.tipoEjercicio.nombre }}</td>
        <td>
          <a class="ml-2" data-toggle="tooltip" data-original-title="Edit"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="delete(ejercicio)"
            ><i class="icon-trash-2"></i
          ></a>
          <a class="ml-2" data-toggle="tooltip" data-original-title="Settings"
            ><i class="icon-settings"></i
          ></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="" rowspan="1" colspan="1">Nombre Ejercicio</th>
        <th id="" rowspan="1" colspan="1">Tipo de Ejercicio</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>


