<app-tipo-ejercicio-list></app-tipo-ejercicio-list>

<div style="margin-top: 35px" class="d-flex justify-content-end">
  <button
    id="plusEjercicio"
    (click)="habilitarEjercicio()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Ejercicio
  </button>
  <button
    id="minusEjercicio"
    (click)="deshabilitarEjercicio()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Ejercicio
  </button>
</div>
<div *ngIf="mostrarEjercicioAdd == true">
  <app-ejercicio-add></app-ejercicio-add>
</div>

<div class="row input-group">
  <div class="col-sm-12 col-md-4">
    <h3 class="card-title mb-5">Ejercicio</h3>
  </div>
  <!--div class="col-sm-12 col-md-8 d-flex justify-content-end">
    <div class="form-outline">
      <label
        >Ejercicio/ Tipo Ejercicio:
        <input
          [(ngModel)]="filterEjercicio"
          type="search"
          class="form-control form-control-sm"
          (keypress)="keyPress($event)"
          placeholder=""
      /></label>
      <label for="" class="mr-3">
        <button
          type="button"
          class="btn btn-primary mt-2"
          (click)="filtrarTabla()"
        >
          <i class="fas fa-search"></i>
        </button>
      </label>

      <button
        style="height: 40px"
        (click)="quitarFiltroTabla()"
        type="button"
        class="btn btn-secondary mt-2 ml-4"
      >
        <i class="fas fa-sync text-light"></i>
      </button>
    </div>
  </div-->
</div>

<div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4">
  <table
    datatable="ng"
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    id="datatable"
    class="table table-bordered table-hover dataTable"
    style="width: 100%"
  >
    <thead>
      <tr role="row">
        <th id="" style="width: 45px">Nombre Ejercicio</th>
        <th id="" style="width: 45px">Tipo de Ejercicio</th>
        <th id="" style="width: 54px">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ejercicio of ejercicios">
        <td>{{ ejercicio.nombre }}</td>
        <td>{{ ejercicio.tipoEjercicio.nombre }}</td>
        <td>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Edit"
            (click)="open(content, ejercicio)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="openModalDelete(confirmDelete, this.ejercicio)"
            ><i class="icon-trash-2"></i
          ></a>
        </td>
      </tr>
      <tr *ngIf="filterError">
        <td colspan="6" class="text-danger font-weight-bold">
          No hubo resultados en su búsqueda
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="" rowspan="1" colspan="1">Nombre Ejercicio</th>
        <th id="" rowspan="1" colspan="1">Tipo de Ejercicio</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>
        ¿Seguro que quieres borrar el ejercicio
        <span class="text-danger"
          >{{ ejercicioAux.nombre }} ({{ ejercicioAux.id }})?</span
        >
      </h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      Cancelar
    </button>
    <button (click)="delete()" type="button" class="btn btn-primary">
      Borrar
    </button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Ejercicio</h4>
  </div>
  <div class="modal-body" *ngIf="ejercicioUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update(updateModalEjercicio)"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">(*) Nombre</label>
            <input
              type="text"
              class="form-control"
              name="nombre"
              #ejercicioNombre="ngModel"
              [(ngModel)]="ejercicioUpdate.nombre"
              placeholder="Nombre Tipo ejercicio"
              required=""
              pattern="^([a-zA-ZáéíóúüÁÉÍÓÚÜ]){1}([a-zA-Z_ áéíóúüÁÉÍÓÚÜ0-9]){2,50}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioNombre.invalid) ||
                  (ejercicioNombre.touched && !ejercicioNombre.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioNombre.invalid) ||
                (ejercicioNombre.touched && !ejercicioNombre.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioNombre.errors.required || ejercicioNombre.invalid
                "
              >
                * Nombre no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="tipoEjercicio">(*) Tipo de Ejercicio</label>
            <select
              class="form-control"
              name="tipoEjercicio"
              id="tipoEjercicio"
              #ejercicioTipoEjercicio="ngModel"
              [(ngModel)]="tipoEjercicioId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioTipoEjercicio.invalid) ||
                  (ejercicioTipoEjercicio.touched &&
                    !ejercicioTipoEjercicio.valid)
              }"
              [(ngModel)]="ejercicioUpdate.tipoEjercicio.id"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let tipoEjercicio of tiposEjercicio"
                value="{{ tipoEjercicio.id }}"
              >
                {{ tipoEjercicio.nombre }}
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && ejercicioTipoEjercicio.invalid) ||
                (ejercicioTipoEjercicio.touched &&
                  !ejercicioTipoEjercicio.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioTipoEjercicio.errors.required ||
                  ejercicioTipoEjercicio.invalid
                "
              >
                * Seleccione un tipo de ejercicio
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #updateModalEjercicio let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Update</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>{{ textoModal }}</h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modal.dismiss(); refresh()"
    >
      Cerrar
    </button>
  </div>
</ng-template>
