<div style="margin-top: 35px" class="d-flex justify-content-end">
  <button
    id="plus"
    (click)="habilitarFactura()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Factura
  </button>
  <button
    id="minus"
    (click)="deshabilitarFactura()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Factura
  </button>
</div>
<div *ngIf="mostrarFacturaAdd == true">
  <app-factura-add></app-factura-add>
</div>

<h3 class="text-center">Facturas</h3>

<div class="card-text">
  <table
    id="datatable"
    class="table table-bordered table-hover dataTable text-center"
    style="width: 100%"
    role="grid"
    aria-describedby="datatable_info"
  >
    <thead>
      <tr role="row">
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Fecha
        </th>
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Número
        </th>
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Pagado
        </th>
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Usuario
        </th>
        <th
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturas" class="text-center">
        <td>{{ factura.fecha | date: "MM/dd/yyyy" }}</td>
        <td>{{ factura.numero }}</td>
        <td>{{ factura.pagado == true ? "Pagado" : "Pendiente" }}</td>
        <td>({{ factura.usuario.id }}) {{ factura.usuario.nombre }}</td>
        <td>
          <a class="ml-2" data-toggle="tooltip" data-original-title="Edit"
          (click)="open(content,factura)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="delete(factura)"
            ><i class="icon-trash-2"></i
          ></a>
          <a class="ml-2" data-toggle="tooltip" data-original-title="Settings"
            ><i class="icon-settings"></i
          ></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="" rowspan="1" colspan="1">Fecha</th>
        <th id="" rowspan="1" colspan="1">Número</th>
        <th id="" rowspan="1" colspan="1">Pagado</th>
        <th id="" rowspan="1" colspan="1">Usuario</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Factura</h4>
  </div>
  <div class="modal-body" *ngIf="facturaUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update()"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">(*) Fecha Factura</label>
            <input
              type="date"
              class="form-control"
              name="fecha"
              #facturaFecha="ngModel"
              [(ngModel)]="facturaUpdate.fecha"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && facturaFecha.invalid) ||
                  (facturaFecha.touched && !facturaFecha.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && facturaFecha.invalid) ||
                (facturaFecha.touched && !facturaFecha.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="facturaFecha.errors.required || facturaFecha.invalid">
                * Fecha no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="numero">(*) Número Factura </label>
            <input
              type="number"
              class="form-control"
              name="numero"
              #facturaNumero="ngModel"
              [(ngModel)]="facturaUpdate.numero"
              placeholder="Nombre Tipo ejercicio"
              required
              min="1"
              pattern="^([1-9]){1}\d*"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && facturaNumero.invalid) ||
                  (facturaNumero.touched && !facturaNumero.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && facturaNumero.invalid) ||
                (facturaNumero.touched && !facturaNumero.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="facturaNumero.errors.required || facturaNumero.invalid"
              >
                * Número no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="pagado">(*) Pagado/Pendiente</label>
            <select
              class="form-control"
              name="pagado"
              id="pagado"
              #facturaPagado="ngModel"
              [(ngModel)]="facturaUpdate.pagado"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && facturaPagado.invalid) ||
                  (facturaPagado.touched && !facturaPagado.valid)
              }"
              [(ngModel)]="facturaUpdate.pagado"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option value="true">Pagado</option>
              <option value="false">Pendiente</option>
            </select>

            <div
              *ngIf="
                (f.submitted && facturaPagado.invalid) ||
                (facturaPagado.touched && !facturaPagado.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="facturaPagado.errors.required || facturaPagado.invalid"
              >
                * Opción no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="usuario">(*) Usuario Adj.</label>
            <select
              class="form-control"
              name="usuario"
              id="usuario"
              #facturaUsuario="ngModel"
              [(ngModel)]="usuarioId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && facturaUsuario.invalid) ||
                  (facturaUsuario.touched && !facturaUsuario.valid)
              }"
              [(ngModel)]="facturaUpdate.usuario.id"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option *ngFor="let usuario of usuarios" value="{{ usuario.id }}">
                {{ usuario.nombre }}
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && facturaUsuario.invalid) ||
                (facturaUsuario.touched && !facturaUsuario.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="facturaUsuario.errors.required || facturaUsuario.invalid"
              >
                * Seleccione un usuario
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
