<!-- GALLERY -->
<section id="section3" class="no-padding">
    <!-- Portfolio -->
    <div id="portfolio" class="grid-layout portfolio-4-columns" data-margin="0" data-lightbox="gallery">

        <!-- portfolio item -->
        <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="assets/fitness/images/gallery/gym_8.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="assets/fitness/images/gallery/gym_8.jpg" class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>
        <!-- end: portfolio item -->

        <!-- portfolio item -->
        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="assets/fitness/images/gallery/gym_7.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="assets/fitness/images/gallery/gym_7.jpg" class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>
        <!-- end: portfolio item -->

        <!-- portfolio item -->
        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="assets/fitness/images/gallery/gym_6.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="assets/fitness/images/gallery/gym_6.jpg" class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>
        <!-- end: portfolio item -->


        <!-- portfolio item -->
        <div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="assets/fitness/images/gallery/gym_5.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="assets/fitness/images/gallery/gym_5.jpg" class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>
        <!-- end: portfolio item -->


        <!-- portfolio item -->
        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media ct-marketing ct-webdesign">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="assets/fitness/images/gallery/gym_4.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="assets/fitness/images/gallery/gym_4.jpg" class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>
        <!-- end: portfolio item -->


        <!-- portfolio item -->
        <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="assets/fitness/images/gallery/gym_3.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="assets/fitness/images/gallery/gym_3.jpg" class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>
        <!-- end: portfolio item -->

        <!-- portfolio item -->
        <div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="assets/fitness/images/gallery/gym_2.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="assets/fitness/images/gallery/gym_2.jpg" class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>
        <!-- end: portfolio item -->


        <!-- portfolio item -->
        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="assets/fitness/images/gallery/gym_1.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="Paper Pouch!" data-lightbox="gallery-image" href="assets/fitness/images/gallery/gym_1.jpg" class="btn btn-light btn-rounded">Zoom</a>
                </div>
            </div>
        </div>
        <!-- end: portfolio item -->


    </div>
    <!-- end: Portfolio -->
</section>
<!-- end: GALLERY -->
