<!-- GALLERY -->
<section class="no-padding">
    <!-- Portfolio -->
    <div id="portfolio" class="grid-layout portfolio-4-columns" data-margin="0" data-lightbox="gallery">
        <galeria-portfolio-item [itemTitle]="'Fil\'s Center Gym'"  [itemImage]="'assets/fitness/images/gallery/gym_8.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
        <galeria-portfolio-item [itemTitle]="'Fil\'s Center Gym'"  [itemImage]="'assets/fitness/images/gallery/gym_7.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
        <galeria-portfolio-item [itemTitle]="'Fil\'s Center Gym'"  [itemImage]="'assets/fitness/images/gallery/gym_6.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
        <galeria-portfolio-item [itemTitle]="'Fil\'s Center Gym'"  [itemImage]="'assets/fitness/images/gallery/gym_5.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
        <galeria-portfolio-item [itemTitle]="'Fil\'s Center Gym'"  [itemImage]="'assets/fitness/images/gallery/gym_4.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
        <galeria-portfolio-item [itemTitle]="'Fil\'s Center Gym'"  [itemImage]="'assets/fitness/images/gallery/gym_3.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
        <galeria-portfolio-item [itemTitle]="'Fil\'s Center Gym'"  [itemImage]="'assets/fitness/images/gallery/gym_2.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
        <galeria-portfolio-item [itemTitle]="'Fil\'s Center Gym'"  [itemImage]="'assets/fitness/images/gallery/gym_1.jpg'" [itemTxt]="'Ver'"></galeria-portfolio-item>
    </div>
    <!-- end: Portfolio -->
</section>
<!-- end: GALLERY -->
