<div class="row input-group">
  <div class="col-sm-12 col-md-12">
    <div style="margin-top: 35px" class="d-flex justify-content-end">
      <button
        id="plus"
        enabled
        (click)="habilitarTablaEjercicio()"
        type="button"
        class="btn btn-light"
      >
        <i class="icon-plus"></i> Tabla Ejercicio
      </button>
      <button
        id="minus"
        (click)="deshabilitarTablaEjercicio()"
        type="button"
        class="btn btn-light"
      >
        <i class="icon-minus"></i> Tabla Ejercicio
      </button>
    </div>
  </div>
</div>

<div *ngIf="mostrarTablaEjercicioAdd == true">
  <app-tabla-ejercicio-add></app-tabla-ejercicio-add>
</div>

<div class="row input-group">
  <div class="col-sm-12 col-md-4">
    <h3 class="text-left">Tablas Ejercicio</h3>
  </div>
  <div class="col-sm-12 col-md-8 d-flex justify-content-end">
    <div class="form-outline">
      <label
      >Monitor / Usuario:
      <input
        [(ngModel)]="filterName"
        type="search"
        class="form-control"
        placeholder=""
        (keypress)="keyPress($event)"
    /></label>
    <label for="">
      <button
      style="height: 40px;"
        type="button"
        class="btn btn-primary mt-2"
        (click)="filtrarTabla()"
      >
        <i class="fas fa-search"></i></button
    ></label>
    <button
      style="height: 40px;"
      (click)="quitarFiltroTabla()"
      type="button"
      class="btn btn-secondary mt-2 ml-4"
    >
      <i class="fas fa-sync text-light"></i>
    </button>
    </div>
  </div>
</div>

<div class="card-text">
  <table
    id="datatable"
    class="table table-bordered table-hover table-responsive-sm "
    style="width: 100%"
    role="grid"
    aria-describedby="datatable_info"
  >
    <thead>
      <tr role="row">
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Monitor
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Usuario
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Fecha inicio
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Fecha fin
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Activa
        </th>
        <th
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tablaEjercicio of tablasEjercicio" class="text-center">
        <td class="text-left">{{ tablaEjercicio.monitor.nombre }}</td>
        <td class="text-left">{{ tablaEjercicio.suscriptor.nombre }}</td>
        <td>{{ tablaEjercicio.fechaInicio | date: 'dd/MM/yyyy' }}</td>
        <td>{{ tablaEjercicio.fechaFin | date: 'dd/MM/yyyy' }}</td>
        <td class="text-left">
          {{ tablaEjercicio.activa == true ? "Activa" : "Inactiva" }}
        </td>
        <td class="text-left">
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Edit"
            (click)="open(content, tablaEjercicio)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="openModalDelete(confirmDelete, this.tablaEjercicio)"
            ><i class="icon-trash-2"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Detalles tabla"
            (click)="openDetalleTabla(detalle, tablaEjercicio)"
            ><i class="icon-settings"></i
          ></a>
        </td>
      </tr>
      <tr *ngIf="filterError">
        <td colspan="8" class="text-danger font-weight-bold">No hubo resultados en su búsqueda</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="">Monitor</th>
        <th id="">Usuario</th>
        <th id="">Fecha inicio</th>
        <th id="">Fecha fin</th>
        <th id="">Activa</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>
<!-- ======================================= MODAL CONFIRM DELETE==============================  -->
<!-- ======================================= MODAL CONFIRM DELETE==============================  -->
<!-- ======================================= MODAL CONFIRM DELETE==============================  -->
<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>
        ¿Seguro que quieres borrar la tabla del usuario
        <span class="text-danger"
          >{{ tablaAux.suscriptor.nombre }} ({{
            tablaAux.suscriptor.id
          }})?</span
        >
      </h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      Cancelar
    </button>
    <button (click)="delete()" type="button" class="btn btn-primary">
      Borrar
    </button>
  </div>
</ng-template>

<!-- ======================================= MODAL UPDATE TABLA==============================  -->
<!-- ======================================= MODAL UPDATE TABLA==============================  -->
<!-- ======================================= MODAL UPDATE TABLA==============================  -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Tabla Ejercicio</h4>
  </div>
  <div class="modal-body" *ngIf="tablaUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update()"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="tablaActiva">(*) ¿Tabla Activa?</label>
            <select
              class="form-control"
              name="tablaActiva"
              id="tablaActiva"
              #tablaEjercicioActiva="ngModel"
              [(ngModel)]="tablaUpdate.activa"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && tablaEjercicioActiva.invalid) ||
                  (tablaEjercicioActiva.touched && !tablaEjercicioActiva.valid)
              }"
              [(ngModel)]="tablaUpdate.activa"
            >
              <option value="" selected>- Elige una opción -</option>
              <option value="true">Sí</option>
              <option value="false">No</option>
            </select>
            <div
              *ngIf="
                (f.submitted && tablaEjercicioActiva.invalid) ||
                (tablaEjercicioActiva.touched && !tablaEjercicioActiva.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  tablaEjercicioActiva.errors.required ||
                  tablaEjercicioActiva.invalid
                "
              >
                * opción no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-5">
            <label for="fechaInicio">(*) Fecha de Inicio</label>
            <input
              type="date"
              class="form-control"
              id="fechaInicio"
              name="fechaInicio"
              #tablaEjercicioFechaInicio="ngModel"
              [(ngModel)]="tablaUpdate.fechaInicio"
              required=""
              [ngClass]="{
                'is-invalid':
                  (f.submitted && tablaEjercicioFechaInicio.invalid) ||
                  (tablaEjercicioFechaInicio.touched &&
                    !tablaEjercicioFechaInicio.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && tablaEjercicioFechaInicio.invalid) ||
                (tablaEjercicioFechaInicio.touched &&
                  !tablaEjercicioFechaInicio.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  tablaEjercicioFechaInicio.errors.required ||
                  tablaEjercicioFechaInicio.invalid
                "
              >
                * Fecha no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-5">
            <label for="fechaFin">(*) Fecha de Fin</label>
            <input
              type="date"
              class="form-control"
              id="fechaFin"
              name="fechaFin"
              #tablaEjercicioFechaFin="ngModel"
              [(ngModel)]="tablaUpdate.fechaFin"
              required=""
              [ngClass]="{
                'is-invalid':
                  (f.submitted && tablaEjercicioFechaFin.invalid) ||
                  (tablaEjercicioFechaFin.touched &&
                    !tablaEjercicioFechaFin.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && tablaEjercicioFechaFin.invalid) ||
                (tablaEjercicioFechaFin.touched &&
                  !tablaEjercicioFechaFin.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  tablaEjercicioFechaFin.errors.required ||
                  tablaEjercicioFechaFin.invalid
                "
              >
                * Fecha no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="monitor">(*) Monitor</label>
            <select
              class="form-control"
              name="monitor"
              id="monitor"
              #monitorTabla="ngModel"
              [(ngModel)]="monitorId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && monitorTabla.invalid) ||
                  (monitorTabla.touched && !monitorTabla.valid)
              }"
              [(ngModel)]="tablaUpdate.monitor.id"
            >
              <option value="" selected>- Elige una opción -</option>
              <option
                *ngFor="let monitor of monitores"
                value="{{ monitor.id }}"
              >
                {{ monitor.nombre }}
              </option>
            </select>
            <div
              *ngIf="
                (f.submitted && monitorTabla.invalid) ||
                (monitorTabla.touched && !monitorTabla.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="monitorTabla.errors.required || monitorTabla.invalid">
                * Monitor no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="sala">(*) Suscriptor</label>
            <select
              class="form-control"
              name="sala"
              id="sala"
              #suscriptorTabla="ngModel"
              [(ngModel)]="suscriptorId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && suscriptorTabla.invalid) ||
                  (suscriptorTabla.touched && !suscriptorTabla.valid)
              }"
              [(ngModel)]="tablaUpdate.suscriptor.id"
            >
              <option value="" selected>- Elige una opción -</option>
              <!--p> aqui se haria un if que sacase todos los que tuvieran usuario.rol == usuario </p-->
              <option
                *ngFor="let suscriptor of suscriptores"
                value="{{ suscriptor.id }}"
              >
                {{ suscriptor.nombre }} -
                {{
                  suscriptor.numeroTarjeta == null
                    ? "tarjetaNull"
                    : suscriptor.numeroTarjeta
                }}
              </option>
            </select>
            <div
              *ngIf="
                (f.submitted && suscriptorTabla.invalid) ||
                (suscriptorTabla.touched && !suscriptorTabla.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  suscriptorTabla.errors.required || suscriptorTabla.invalid
                "
              >
                * Usuario no válido
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!-- ======================================= MODAL DETALLE TABLA==============================  -->
<!-- ======================================= MODAL DETALLE TABLA==============================  -->
<!-- ======================================= MODAL DETALLE TABLA==============================  -->

<ng-template #detalle let-modal>
  <div class="container">
    <div class="modal-header text-center">
      <h4 class="modal-title" id="modal-basic-title">
        Detalle Tabla Ejercicio de
        <span class="text-primary">{{ tablaDetalle.suscriptor.nombre }}</span>
        idtabla ({{ tablaDetalle.id }})
      </h4>
    </div>
    <div class="modal-body content-center">
    
      <div class="row input-group">
        <div class="col-sm-12 col-md-12 mb-3">
          <div style="margin-top: 35px" class="d-flex justify-content-end">
            <button (click)="abrirAniadirModal(true)" class="btn btn-light">
              <i class="icon-plus"></i> Añadir Ejercicio Serie
            </button>
          </div>
        </div>
      </div>

      <!--parte formulario add ejercicioSerie-->
      <div *ngIf="modalAniadir == true">
        <div class="card-body">
          <form
            class="form-validate"
            name="form"
            (ngSubmit)="
              f.form.valid &&
                aniadirEjercicioSerie(
                  detalle,
                  this.tablaDetalle,
                  createEjer,
                  errorModalEjer
                )
            "
            #f="ngForm"
          >
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="semana">(*) Día número Semana</label>
                <input
                  type="number"
                  class="form-control"
                  id="semana"
                  name="semana"
                  #ejercicioSerieSemana="ngModel"
                  [(ngModel)]="nuevoEjercicioSerie.porSemana"
                  placeholder="Veces a realizar por semana"
                  required
                  min="1"
                  max="7"
                  pattern="^([1-7]){1}"
                  [ngClass]="{
                    'is-invalid':
                      (f.submitted && ejercicioSerieSemana.invalid) ||
                      (ejercicioSerieSemana.touched &&
                        !ejercicioSerieSemana.valid)
                  }"
                />
                <div
                  *ngIf="
                    (f.submitted && ejercicioSerieSemana.invalid) ||
                    (ejercicioSerieSemana.touched &&
                      !ejercicioSerieSemana.valid)
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      ejercicioSerieSemana.errors.required ||
                      ejercicioSerieSemana.invalid
                    "
                  >
                    * Veces seleccionadas no válida
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label for="repeticiones">(*) Repeticiones</label>
                <input
                  type="number"
                  class="form-control"
                  id="repeticiones"
                  name="repeticiones"
                  #ejercicioSerieRepeticiones="ngModel"
                  [(ngModel)]="nuevoEjercicioSerie.repeticiones"
                  placeholder="Repeticiones del ejercicio"
                  required
                  min="1"
                  max="999"
                  pattern="^([1-9]){1}\d*"
                  [ngClass]="{
                    'is-invalid':
                      (f.submitted && ejercicioSerieRepeticiones.invalid) ||
                      (ejercicioSerieRepeticiones.touched &&
                        !ejercicioSerieRepeticiones.valid)
                  }"
                />
                <div
                  *ngIf="
                    (f.submitted && ejercicioSerieRepeticiones.invalid) ||
                    (ejercicioSerieRepeticiones.touched &&
                      !ejercicioSerieRepeticiones.valid)
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      ejercicioSerieRepeticiones.errors.required ||
                      ejercicioSerieRepeticiones.invalid
                    "
                  >
                    * Repeticiones no válidas
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label for="series">(*) Series</label>
                <input
                  type="number"
                  class="form-control"
                  id="series"
                  name="series"
                  #ejercicioSerieSeries="ngModel"
                  [(ngModel)]="nuevoEjercicioSerie.series"
                  placeholder="Series del ejercicio"
                  required
                  min="1"
                  max="15"
                  pattern="^([1-9]){1}\d*"
                  [ngClass]="{
                    'is-invalid':
                      (f.submitted && ejercicioSerieSeries.invalid) ||
                      (ejercicioSerieSeries.touched &&
                        !ejercicioSerieSeries.valid)
                  }"
                />
                <div
                  *ngIf="
                    (f.submitted && ejercicioSerieSeries.invalid) ||
                    (ejercicioSerieSeries.touched &&
                      !ejercicioSerieSeries.valid)
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      ejercicioSerieSeries.errors.required ||
                      ejercicioSerieSeries.invalid
                    "
                  >
                    * Series seleccionadas no válida
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="tipoEjercicio">(*)Tipo Ejercicio</label>
                <select
                  class="form-control"
                  name="tipoEjercicio"
                  id="tipoEjercicio"
                  #tipoEjercicioSerieEjercicio="ngModel"
                  [(ngModel)]="tipoEjercicioId"
                  required
                  [ngClass]="{
                    'is-invalid':
                      (f.submitted && tipoEjercicioSerieEjercicio.invalid) ||
                      (tipoEjercicioSerieEjercicio.touched &&
                        !tipoEjercicioSerieEjercicio.valid)
                  }"
                  [(ngModel)]="tipoEjerSelect"
                  (ngModelChange)="cargarEjercicios(this.tipoEjercicioId, 'no')"
                >
                  <option value="" selected>-- Elige una opción --</option>
                  <option
                    *ngFor="let tipoEjercicio of tiposEjercicio"
                    value="{{ tipoEjercicio.id }}"
                  >
                    {{ tipoEjercicio.nombre }}
                  </option>
                </select>

                <div
                  *ngIf="
                    (f.submitted && tipoEjercicioSerieEjercicio.invalid) ||
                    (tipoEjercicioSerieEjercicio.touched &&
                      !tipoEjercicioSerieEjercicio.valid)
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      tipoEjercicioSerieEjercicio.errors.required ||
                      tipoEjercicioSerieEjercicio.invalid
                    "
                  >
                    * Seleccione un tipo ejercicio
                  </div>
                </div>
              </div>

              <div *ngIf="tipoEjercicioId != ''" class="form-group col-md-6">
                <label for="ejercicio">(*) Ejercicio</label>
                <select
                  class="form-control"
                  name="ejercicio"
                  id="ejercicio"
                  #ejercicioSerieEjercicio="ngModel"
                  [(ngModel)]="ejercicioId"
                  required
                  [ngClass]="{
                    'is-invalid':
                      (f.submitted && ejercicioSerieEjercicio.invalid) ||
                      (ejercicioSerieEjercicio.touched &&
                        !ejercicioSerieEjercicio.valid)
                  }"
                  [(ngModel)]="ejerSelect"
                >
                  <option value="" selected>-- Elige una opción --</option>
                  <option
                    *ngFor="let ejercicio of ejercicios"
                    value="{{ ejercicio.id }}"
                  >
                    {{ ejercicio.nombre }}
                  </option>
                </select>

                <div
                  *ngIf="
                    (f.submitted && ejercicioSerieEjercicio.invalid) ||
                    (ejercicioSerieEjercicio.touched &&
                      !ejercicioSerieEjercicio.valid)
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      ejercicioSerieEjercicio.errors.required ||
                      ejercicioSerieEjercicio.invalid
                    "
                  >
                    * Seleccione un ejercicio
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-end m-4">
              <button (click)="abrirAniadirModal(false)" class="btn btn-danger">
                Cancelar
              </button>
              <button type="submit" class="btn btn-primary">
                <i class="icon-plus"></i> Añadir
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="row input-group">
        <div class="col-sm-12 col-md-6">
          <h3 class="text-left">Ejercicios Serie</h3>
        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-end">
          <div class="form-outline">
            <label
              >Día:
              <input
                [(ngModel)]="filterDia"
                type="search"
                class="form-control form-control-sm"
                (keypress)="keyPressES($event)"
                placeholder="1 , 2 , 3 , 4 ..."
            /></label>
            <label for="">
              <button
                type="button"
                class="btn btn-primary mt-2"
                (click)="filtrarTablaES()"
              >
                <i class="fas fa-search"></i></button
            ></label>

            <button
              style="height: 40px"
              (click)="quitarFiltroTablaES()"
              type="button"
              class="btn btn-secondary mt-2 ml-4"
            >
              <i class="fas fa-sync text-light"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- parte listado ejercicios-->
      <div class="card-text">
        <div class="card-text">
          <table
            id="datatable"
            class="table table-bordered table-hover table-responsive-sm"
            style="width: 100%"
            role="grid"
            aria-describedby="datatable_info"
          >
            <thead>
              <tr role="row">
                <th
                  id=""
                  id=""
                  class="noExport sorting"
                  tabindex="0"
                  aria-controls="datatable"
                  rowspan="1"
                  colspan="1"
                  aria-label="Actions: activate to sort column ascending"
                  style="width: 54px"
                >
                  Tipo ejercicio
                </th>
                <th
                  id=""
                  id=""
                  class="noExport sorting"
                  tabindex="0"
                  aria-controls="datatable"
                  rowspan="1"
                  colspan="1"
                  aria-label="Actions: activate to sort column ascending"
                  style="width: 54px"
                >
                  Nombre ejercicio
                </th>
                <th
                  id=""
                  id=""
                  class="noExport sorting"
                  tabindex="0"
                  aria-controls="datatable"
                  rowspan="1"
                  colspan="1"
                  aria-label="Actions: activate to sort column ascending"
                  style="width: 54px"
                >
                  Repeticiones
                </th>
                <th
                  id=""
                  id=""
                  class="noExport sorting"
                  tabindex="0"
                  aria-controls="datatable"
                  rowspan="1"
                  colspan="1"
                  aria-label="Actions: activate to sort column ascending"
                  style="width: 54px"
                >
                  Series
                </th>

                <th
                  id=""
                  id=""
                  class="noExport sorting"
                  tabindex="0"
                  aria-controls="datatable"
                  rowspan="1"
                  colspan="1"
                  aria-label="Actions: activate to sort column ascending"
                  style="width: 54px"
                >
                  Dia número semana
                </th>
                <th
                  id=""
                  id=""
                  class="noExport sorting"
                  tabindex="0"
                  aria-controls="datatable"
                  rowspan="1"
                  colspan="1"
                  aria-label="Actions: activate to sort column ascending"
                  style="width: 54px"
                >
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let ejercicio of ejerciciosSerieTablaDetalle"
                class="text-center"
              >
                <td>{{ ejercicio.ejercicio.tipoEjercicio.nombre }}</td>
                <td>{{ ejercicio.ejercicio.nombre }}</td>
                <td>{{ ejercicio.repeticiones }}</td>
                <td>{{ ejercicio.series }}</td>
                <td>{{ ejercicio.porSemana }}</td>
                <td>
                  <a
                    class="ml-2"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                    (click)="
                      modalUpdateEjercicioSerie(updateES, this.ejercicio)
                    "
                    ><i class="icon-edit"></i
                  ></a>
                  <a
                    class="ml-2"
                    data-toggle="tooltip"
                    data-original-title="Delete"
                    (click)="
                      openModalDeleteEjerSerie(
                        confirmDeleteEjerSerie,
                        this.ejercicio
                      )
                    "
                    ><i class="icon-trash-2"></i
                  ></a>
                </td>
              </tr>
              <tr *ngIf="filterErrorES">
                <td colspan="8" class="text-danger font-weight-bold">No hubo resultados en su búsqueda</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        Cerrar
      </button>
    </div>
  </div>
</ng-template>
<!-- ======================================= MODAL DELETE EJERCICIO SERIE==============================  -->
<!-- ======================================= MODAL DELETE EJERCICIO SERIE==============================  -->
<!-- ======================================= MODAL DELETE EJERCICIO SERIE==============================  -->
<ng-template #confirmDeleteEjerSerie let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>
        ¿Seguro que quieres borrar la serie ejercicio
        <span class="text-danger"
          >{{ ejercicioAux.ejercicio.nombre }} ({{ ejercicioAux.id }})?</span
        >
      </h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      Cancelar
    </button>
    <button
      (click)="deleteEjercicioSerie()"
      type="button"
      class="btn btn-primary"
    >
      Borrar
    </button>
  </div>
</ng-template>

<!-- ======================================= MODAL ADD EJERCICIO==============================  -->
<!-- ======================================= MODAL ADD EJERCICIO==============================  -->
<!-- ======================================= MODAL ADD EJERCICIO==============================  -->
<ng-template #createEjer let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>
        ¡Ejercicio Serie
        <span class="text-danger"
          >{{ nuevoEjercicioSerie.ejercicio.nombre }}-{{
            nuevoEjercicioSerie.series
          }}x{{ nuevoEjercicioSerie.repeticiones }}
        </span>
        registrado!
      </h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      aria-label="Close"
      (click)="modal.dismiss(); closeUpdateModalResult()"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #errorModalEjer let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>{{ textoModal }}</h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<!-- ======================================= MODAL UPDATE EJERCICIO==============================  -->
<!-- ======================================= MODAL UPDATE EJERCICIO==============================  -->
<!-- ======================================= MODAL UPDATE EJERCICIO==============================  -->
<ng-template #updateES let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Ejercicio</h4>
  </div>
  <div class="modal-body" *ngIf="ejercicioSerieUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && updateEjercicio(updateModalEjer)"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="semana">(*) Día número Semana</label>
            <input
              type="number"
              class="form-control"
              id="semana"
              name="semana"
              #ejercicioSerieSemana="ngModel"
              [(ngModel)]="ejercicioSerieUpdate.porSemana"
              placeholder="Veces a realizar por semana"
              required
              min="1"
              max="7"
              pattern="^([1-7]){1}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieSemana.invalid) ||
                  (ejercicioSerieSemana.touched && !ejercicioSerieSemana.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioSerieSemana.invalid) ||
                (ejercicioSerieSemana.touched && !ejercicioSerieSemana.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieSemana.errors.required ||
                  ejercicioSerieSemana.invalid
                "
              >
                * Veces seleccionadas no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="repeticiones">(*) Repeticiones</label>
            <input
              type="number"
              class="form-control"
              id="repeticiones"
              name="repeticiones"
              #ejercicioSerieRepeticiones="ngModel"
              [(ngModel)]="ejercicioSerieUpdate.repeticiones"
              placeholder="Series del ejercicio"
              required
              min="1"
              max="999"
              pattern="^([1-9]){1}\d*"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieRepeticiones.invalid) ||
                  (ejercicioSerieRepeticiones.touched &&
                    !ejercicioSerieRepeticiones.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioSerieRepeticiones.invalid) ||
                (ejercicioSerieRepeticiones.touched &&
                  !ejercicioSerieRepeticiones.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieRepeticiones.errors.required ||
                  ejercicioSerieRepeticiones.invalid
                "
              >
                * Repeticiones no válidas
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="series">(*) Series</label>
            <input
              type="number"
              class="form-control"
              id="series"
              name="series"
              #ejercicioSerieSeries="ngModel"
              [(ngModel)]="ejercicioSerieUpdate.series"
              placeholder="Series del ejercicio"
              required
              min="1"
              max="15"
              pattern="^([1-9]){1}\d*"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieSeries.invalid) ||
                  (ejercicioSerieSeries.touched && !ejercicioSerieSeries.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioSerieSeries.invalid) ||
                (ejercicioSerieSeries.touched && !ejercicioSerieSeries.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieSeries.errors.required ||
                  ejercicioSerieSeries.invalid
                "
              >
                * Series seleccionadas no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="tipoEjercicio">(*)Tipo Ejercicio</label>
            <select
              class="form-control"
              name="tipoEjercicio"
              id="tipoEjercicio"
              #tipoEjercicioSerieEjercicio="ngModel"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && tipoEjercicioSerieEjercicio.invalid) ||
                  (tipoEjercicioSerieEjercicio.touched &&
                    !tipoEjercicioSerieEjercicio.valid)
              }"
              [(ngModel)]="ejercicioSerieUpdate.ejercicio.tipoEjercicio.id"
              (ngModelChange)="
                cargarEjercicios(
                  this.ejercicioSerieUpdate.ejercicio.tipoEjercicio.id,
                  'si'
                )
              "
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let tipoEjercicio of tiposEjercicio"
                value="{{ tipoEjercicio.id }}"
              >
                {{ tipoEjercicio.nombre }}
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && tipoEjercicioSerieEjercicio.invalid) ||
                (tipoEjercicioSerieEjercicio.touched &&
                  !tipoEjercicioSerieEjercicio.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  tipoEjercicioSerieEjercicio.errors.required ||
                  tipoEjercicioSerieEjercicio.invalid
                "
              >
                * Seleccione un tipo ejercicio
              </div>
            </div>
          </div>

          <div
            *ngIf="ejercicioSerieUpdate.ejercicio.tipoEjercicio.id != ''"
            class="form-group col-md-6"
          >
            <label for="ejercicio">(*) Ejercicio</label>
            <select
              class="form-control"
              name="ejercicio"
              id="ejercicio"
              #ejercicioSerieEjercicio="ngModel"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieEjercicio.invalid) ||
                  (ejercicioSerieEjercicio.touched &&
                    !ejercicioSerieEjercicio.valid)
              }"
              [(ngModel)]="ejercicioSerieUpdate.ejercicio.id"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let ejercicio of ejercicios"
                value="{{ ejercicio.id }}"
              >
                {{ ejercicio.nombre }}
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && ejercicioSerieEjercicio.invalid) ||
                (ejercicioSerieEjercicio.touched &&
                  !ejercicioSerieEjercicio.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieEjercicio.errors.required ||
                  ejercicioSerieEjercicio.invalid
                "
              >
                * Seleccione un ejercicio
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #updateModalEjer let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Update</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>{{ textoModal }}</h3>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="closeUpdateModalResult()"
    >
      Cerrar
    </button>
  </div>
</ng-template>
