<div class="d-flex justify-content-end">
  <button
    id="plus"
    enabled
    (click)="habilitarTablaEjercicio()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Tabla Ejercicio
  </button>
  <button
    id="minus"
    (click)="deshabilitarTablaEjercicio()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Tabla Ejercicio
  </button>
</div>
<div *ngIf="mostrarTablaEjercicioAdd == true">
  <app-tabla-ejercicio-add></app-tabla-ejercicio-add>
</div>

<h3 class="text-center">Tablas Ejercicio</h3>

<div class="card-text">
  <table
    id="datatable"
    class="table table-bordered table-hover dataTable text-center"
    style="width: 100%"
    role="grid"
    aria-describedby="datatable_info"
  >
    <thead>
      <tr role="row">
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Monitor
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Usuario
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Fecha inicio
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Fecha fin
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Activa
        </th>
        <th
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tablaEjercicio of tablasEjercicio" class="text-center">
        <td>{{ tablaEjercicio.monitor.nombre }}</td>
        <td>{{ tablaEjercicio.suscriptor.nombre }}</td>
        <td>{{ tablaEjercicio.fechaInicio | date: "d/M/YYYY" }}</td>
        <td>{{ tablaEjercicio.fechaFin | date: "d/M/YYYY" }}</td>
        <td>{{ tablaEjercicio.activa == true ? "Activa" : "Inactiva" }}</td>
        <td>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Edit"
            (click)="open(content, tablaEjercicio)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="delete(tablaEjercicio)"
            ><i class="icon-trash-2"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Detalles tabla"
            (click)="openDetalleTabla(detalle, tablaEjercicio)"
            ><i class="icon-settings"></i
          ></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="">Monitor</th>
        <th id="">Usuario</th>
        <th id="">Fecha inicio</th>
        <th id="">Fecha fin</th>
        <th id="">Activa</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Tabla Ejercicio</h4>
  </div>
  <div class="modal-body" *ngIf="tablaUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update()"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="tablaActiva">(*) ¿Tabla Activa?</label>
            <select
              class="form-control"
              name="tablaActiva"
              id="tablaActiva"
              #tablaEjercicioActiva="ngModel"
              [(ngModel)]="tablaUpdate.activa"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && tablaEjercicioActiva.invalid) ||
                  (tablaEjercicioActiva.touched && !tablaEjercicioActiva.valid)
              }"
              [(ngModel)]="tablaUpdate.activa"
            >
              <option value="" selected>- Elige una opción -</option>
              <option value="true">Sí</option>
              <option value="false">No</option>
            </select>
            <div
              *ngIf="
                (f.submitted && tablaEjercicioActiva.invalid) ||
                (tablaEjercicioActiva.touched && !tablaEjercicioActiva.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  tablaEjercicioActiva.errors.required ||
                  tablaEjercicioActiva.invalid
                "
              >
                * opción no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-5">
            <label for="fechaInicio">(*) Fecha de Inicio</label>
            <input
              type="date"
              class="form-control"
              id="fechaInicio"
              name="fechaInicio"
              #tablaEjercicioFechaInicio="ngModel"
              [(ngModel)]="tablaUpdate.fechaInicio"
              required=""
              [ngClass]="{
                'is-invalid':
                  (f.submitted && tablaEjercicioFechaInicio.invalid) ||
                  (tablaEjercicioFechaInicio.touched &&
                    !tablaEjercicioFechaInicio.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && tablaEjercicioFechaInicio.invalid) ||
                (tablaEjercicioFechaInicio.touched &&
                  !tablaEjercicioFechaInicio.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  tablaEjercicioFechaInicio.errors.required ||
                  tablaEjercicioFechaInicio.invalid
                "
              >
                * Fecha no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-5">
            <label for="fechaFin">(*) Fecha de Fin</label>
            <input
              type="date"
              class="form-control"
              id="fechaFin"
              name="fechaFin"
              #tablaEjercicioFechaFin="ngModel"
              [(ngModel)]="tablaUpdate.fechaFin"
              required=""
              [ngClass]="{
                'is-invalid':
                  (f.submitted && tablaEjercicioFechaFin.invalid) ||
                  (tablaEjercicioFechaFin.touched &&
                    !tablaEjercicioFechaFin.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && tablaEjercicioFechaFin.invalid) ||
                (tablaEjercicioFechaFin.touched &&
                  !tablaEjercicioFechaFin.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  tablaEjercicioFechaFin.errors.required ||
                  tablaEjercicioFechaFin.invalid
                "
              >
                * Fecha no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="monitor">(*) Monitor</label>
            <select
              class="form-control"
              name="monitor"
              id="monitor"
              #monitorTabla="ngModel"
              [(ngModel)]="monitorId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && monitorTabla.invalid) ||
                  (monitorTabla.touched && !monitorTabla.valid)
              }"
              [(ngModel)]="tablaUpdate.monitor.id"
            >
              <option value="" selected>- Elige una opción -</option>
              <!--p> aqui se haria un if que sacase todos los que tuvieran usuario.rol == monitor </p-->
              <option
                *ngFor="let monitor of monitores"
                value="{{ monitor.id }}"
              >
                {{ monitor.nombre }}
              </option>
            </select>
            <div
              *ngIf="
                (f.submitted && monitorTabla.invalid) ||
                (monitorTabla.touched && !monitorTabla.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="monitorTabla.errors.required || monitorTabla.invalid">
                * Monitor no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="sala">(*) Suscriptor</label>
            <select
              class="form-control"
              name="sala"
              id="sala"
              #suscriptorTabla="ngModel"
              [(ngModel)]="suscriptorId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && suscriptorTabla.invalid) ||
                  (suscriptorTabla.touched && !suscriptorTabla.valid)
              }"
              [(ngModel)]="tablaUpdate.suscriptor.id"
            >
              <option value="" selected>- Elige una opción -</option>
              <!--p> aqui se haria un if que sacase todos los que tuvieran usuario.rol == usuario </p-->
              <option
                *ngFor="let suscriptor of suscriptores"
                value="{{ suscriptor.id }}"
              >
                {{ suscriptor.nombre }} -
                {{ suscriptor.numeroTarjeta == null ? "tarjetaNull" : "" }}
              </option>
            </select>
            <div
              *ngIf="
                (f.submitted && suscriptorTabla.invalid) ||
                (suscriptorTabla.touched && !suscriptorTabla.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  suscriptorTabla.errors.required || suscriptorTabla.invalid
                "
              >
                * Usuario no válido
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>



<ng-template #detalle let-modal>
  <div class="container">
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">
      Detalle Tabla Ejercicio de <span class="text-primary">{{ tablaDetalle.suscriptor.nombre }}</span> idtabla ({{tablaDetalle.id}})
    </h4>
  </div>
  <div class="modal-body content-center">
    <div class="row justify-content-end m-4 ">
      <button (click)="abrirAniadirModal(true)" class="btn btn-light"><i class="icon-plus"></i> Añadir Ejercicio Serie</button>
    </div>

    <div *ngIf="modalAniadir==true">
      <div class="card-body">
        <form
          class="form-validate"
          name="form"
          (ngSubmit)="f.form.valid && aniadirEjercicioSerie(detalle,this.tablaDetalle)"
          #f="ngForm"
        >
          <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="semana">(*) Veces por Semana</label>
                  <input
                    type="number"
                    class="form-control"
                    id="semana"
                    name="semana"
                    #ejercicioSerieSemana="ngModel"
                    [(ngModel)]="nuevoEjercicioSerie.porSemana"
                    placeholder="Veces a realizar por semana"
                    required
                    min="1"
                    max="6"
                    pattern="^([1-9]){1}"
                    [ngClass]="{
                      'is-invalid':
                        (f.submitted && ejercicioSerieSemana.invalid) ||
                        (ejercicioSerieSemana.touched && !ejercicioSerieSemana.valid)
                    }"
                  />
                  <div
                    *ngIf="
                      (f.submitted && ejercicioSerieSemana.invalid) ||
                      (ejercicioSerieSemana.touched && !ejercicioSerieSemana.valid)
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="ejercicioSerieSemana.errors.required || ejercicioSerieSemana.invalid">
                      * Veces seleccionadas no válida
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="repeticiones">(*) Repeticiones</label>
                  <input
                    type="number"
                    class="form-control"
                    id="repeticiones"
                    name="repeticiones"
                    #ejercicioSerieRepeticiones="ngModel"
                    [(ngModel)]="nuevoEjercicioSerie.repeticiones"
                    placeholder="Repeticiones del ejercicio"
                    required
                    min="1"
                    max="999"
                    pattern="^([1-9]){1}\d*"
                    [ngClass]="{
                      'is-invalid':
                        (f.submitted && ejercicioSerieRepeticiones.invalid) ||
                        (ejercicioSerieRepeticiones.touched && !ejercicioSerieRepeticiones.valid)
                    }"
                  />
                  <div
                    *ngIf="
                      (f.submitted && ejercicioSerieRepeticiones.invalid) ||
                      (ejercicioSerieRepeticiones.touched && !ejercicioSerieRepeticiones.valid)
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="ejercicioSerieRepeticiones.errors.required || ejercicioSerieRepeticiones.invalid">
                      * Repeticiones no válidas
                    </div>
                  </div>
                </div>
      
      
                <div class="form-group col-md-4">
                  <label for="series">(*) Series</label>
                  <input
                    type="number"
                    class="form-control"
                    id="series"
                    name="series"
                    #ejercicioSerieSeries="ngModel"
                    [(ngModel)]="nuevoEjercicioSerie.series"
                    placeholder="Series del ejercicio"
                    required
                    min="1"
                    max="15"
                    pattern="^([1-9]){1}\d*"
                    [ngClass]="{
                      'is-invalid':
                        (f.submitted && ejercicioSerieSeries.invalid) ||
                        (ejercicioSerieSeries.touched && !ejercicioSerieSeries.valid)
                    }"
                  />
                  <div
                    *ngIf="
                      (f.submitted && ejercicioSerieSeries.invalid) ||
                      (ejercicioSerieSeries.touched && !ejercicioSerieSeries.valid)
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="ejercicioSerieSeries.errors.required || ejercicioSerieSeries.invalid">
                      * Series seleccionadas no válida
                    </div>
                  </div>
                </div>
      
          <div class="form-group col-md-6">
              <label for="tipoEjercicio">(*)Tipo Ejercicio</label>
              <select
                class="form-control"
                name="tipoEjercicio"
                id="tipoEjercicio"
                #tipoEjercicioSerieEjercicio="ngModel"
                [(ngModel)]="tipoEjercicioId"
                required
                [ngClass]="{
                  'is-invalid':
                    (f.submitted && tipoEjercicioSerieEjercicio.invalid) ||
                    (tipoEjercicioSerieEjercicio.touched &&
                      !tipoEjercicioSerieEjercicio.valid)
                }"
                [(ngModel)]="tipoEjerSelect"
                (ngModelChange)="cargarEjercicios(this.tipoEjercicioId,'no')"
              >
                <option value="" selected>-- Elige una opción --</option>
                <option
                  *ngFor="let tipoEjercicio of tiposEjercicio"
                  value="{{ tipoEjercicio.id }}"
                >
                {{ tipoEjercicio.nombre }}
                </option>
              </select>
      
              <div
                *ngIf="
                  (f.submitted && tipoEjercicioSerieEjercicio.invalid) ||
                  (tipoEjercicioSerieEjercicio.touched && !tipoEjercicioSerieEjercicio.valid)
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    tipoEjercicioSerieEjercicio.errors.required ||
                    tipoEjercicioSerieEjercicio.invalid
                  "
                >
                  * Seleccione un tipo ejercicio
                </div>
              </div>
            </div>
      
            <div *ngIf="tipoEjercicioId != '' " class="form-group col-md-6">
              <label for="ejercicio">(*) Ejercicio</label>
              <select
                class="form-control"
                name="ejercicio"
                id="ejercicio"
                #ejercicioSerieEjercicio="ngModel"
                [(ngModel)]="ejercicioId"
                required
                [ngClass]="{
                  'is-invalid':
                    (f.submitted && ejercicioSerieEjercicio.invalid) ||
                    (ejercicioSerieEjercicio.touched &&
                      !ejercicioSerieEjercicio.valid)
                }"
                [(ngModel)]="ejerSelect"
              >
                <option value="" selected>-- Elige una opción --</option>
                <option
                  *ngFor="let ejercicio of ejerciciosSerie"
                  value="{{ ejercicio.id }}"
                >
                {{ ejercicio.nombre }}
                </option>
              </select>
      
              <div
                *ngIf="
                  (f.submitted && ejercicioSerieEjercicio.invalid) ||
                  (ejercicioSerieEjercicio.touched && !ejercicioSerieEjercicio.valid)
                "
                class="invalid-feedback"
              >
                <div
                  *ngIf="
                    ejercicioSerieEjercicio.errors.required ||
                    ejercicioSerieEjercicio.invalid
                  "
                >
                  * Seleccione un ejercicio
                </div>
              </div>
            </div>
      
  
          </div>
      
          <div class="row justify-content-end m-4 ">
            <button (click)="abrirAniadirModal(false)" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-primary"><i class="icon-plus"></i> Añadir</button>
          </div>
        </form>
      </div>
    </div>


    <div class="card-text">
      <div class="card-text">
        <table
          id="datatable"
          class="table table-bordered table-hover dataTable text-center"
          style="width: 100%"
          role="grid"
          aria-describedby="datatable_info"
        >
          <thead>
            <tr role="row">
              <th
              id=""
              id=""
              class="noExport sorting"
              tabindex="0"
              aria-controls="datatable"
              rowspan="1"
              colspan="1"
              aria-label="Actions: activate to sort column ascending"
              style="width: 54px"
            >
              Tipo ejercicio
            </th>
              <th
                id=""
                id=""
                class="noExport sorting"
                tabindex="0"
                aria-controls="datatable"
                rowspan="1"
                colspan="1"
                aria-label="Actions: activate to sort column ascending"
                style="width: 54px"
              >
                Nombre ejercicio
              </th>
              <th
                id=""
                id=""
                class="noExport sorting"
                tabindex="0"
                aria-controls="datatable"
                rowspan="1"
                colspan="1"
                aria-label="Actions: activate to sort column ascending"
                style="width: 54px"
              >
                Repeticiones
              </th>
              <th
                id=""
                id=""
                class="noExport sorting"
                tabindex="0"
                aria-controls="datatable"
                rowspan="1"
                colspan="1"
                aria-label="Actions: activate to sort column ascending"
                style="width: 54px"
              >
                Series
              </th>

              <th
                id=""
                id=""
                class="noExport sorting"
                tabindex="0"
                aria-controls="datatable"
                rowspan="1"
                colspan="1"
                aria-label="Actions: activate to sort column ascending"
                style="width: 54px"
              >
                Veces por semana
              </th>
              <th
              id=""
              id=""
              class="noExport sorting"
              tabindex="0"
              aria-controls="datatable"
              rowspan="1"
              colspan="1"
              aria-label="Actions: activate to sort column ascending"
              style="width: 54px"
            >
              Acciones
            </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let ejercicio of ejerciciosSerieTablaDetalle"
              class="text-center"
            >
            <td>{{ ejercicio.ejercicio.tipoEjercicio.nombre }}</td>
            <td>{{ ejercicio.ejercicio.nombre }}</td>
            <td>{{ ejercicio.repeticiones }}</td>
            <td>{{ ejercicio.series }}</td>
            <td>{{ ejercicio.porSemana }}</td>
            <td>
              <a
                class="ml-2"
                data-toggle="tooltip"
                data-original-title="Edit"
                (click)="modalUpdateEjercicioSerie(updateES,this.ejercicio)"
                ><i class="icon-edit"></i
              ></a>
              <a
                class="ml-2"
                data-toggle="tooltip"
                data-original-title="Delete"
                (click)="deleteEjercicioSerie(this.ejercicio)"
                ><i class="icon-trash-2"></i
              ></a>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      Cerrar
    </button>
  </div>
</div>
</ng-template>














<ng-template #updateES let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Ejercicio</h4>
  </div>
  <div class="modal-body" *ngIf="ejercicioSerieUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && updateEjercicio()"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="semana">(*) Veces por Semana</label>
            <input
              type="number"
              class="form-control"
              id="semana"
              name="semana"
              #ejercicioSerieSemana="ngModel"
              [(ngModel)]="ejercicioSerieUpdate.porSemana"
              placeholder="Veces a realizar por semana"
              required
              min="1"
              max="6"
              pattern="^([1-9]){1}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieSemana.invalid) ||
                  (ejercicioSerieSemana.touched && !ejercicioSerieSemana.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioSerieSemana.invalid) ||
                (ejercicioSerieSemana.touched && !ejercicioSerieSemana.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieSemana.errors.required ||
                  ejercicioSerieSemana.invalid
                "
              >
                * Veces seleccionadas no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="repeticiones">(*) Repeticiones</label>
            <input
              type="number"
              class="form-control"
              id="repeticiones"
              name="repeticiones"
              #ejercicioSerieRepeticiones="ngModel"
              [(ngModel)]="ejercicioSerieUpdate.repeticiones"
              placeholder="Series del ejercicio"
              required
              min="1"
              max="999"
              pattern="^([1-9]){1}\d*"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieRepeticiones.invalid) ||
                  (ejercicioSerieRepeticiones.touched &&
                    !ejercicioSerieRepeticiones.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioSerieRepeticiones.invalid) ||
                (ejercicioSerieRepeticiones.touched &&
                  !ejercicioSerieRepeticiones.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieRepeticiones.errors.required ||
                  ejercicioSerieRepeticiones.invalid
                "
              >
                * Repeticiones no válidas
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="series">(*) Series</label>
            <input
              type="number"
              class="form-control"
              id="series"
              name="series"
              #ejercicioSerieSeries="ngModel"
              [(ngModel)]="ejercicioSerieUpdate.series"
              placeholder="Series del ejercicio"
              required
              min="1"
              max="15"
              pattern="^([1-9]){1}\d*"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieSeries.invalid) ||
                  (ejercicioSerieSeries.touched && !ejercicioSerieSeries.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioSerieSeries.invalid) ||
                (ejercicioSerieSeries.touched && !ejercicioSerieSeries.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieSeries.errors.required ||
                  ejercicioSerieSeries.invalid
                "
              >
                * Series seleccionadas no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="tipoEjercicio">(*)Tipo Ejercicio</label>
            <select
              class="form-control"
              name="tipoEjercicio"
              id="tipoEjercicio"
              #tipoEjercicioSerieEjercicio="ngModel"
              [(ngModel)]="tipoEjercicioId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && tipoEjercicioSerieEjercicio.invalid) ||
                  (tipoEjercicioSerieEjercicio.touched &&
                    !tipoEjercicioSerieEjercicio.valid)
              }"
              [(ngModel)]="ejercicioSerieUpdate.ejercicio.tipoEjercicio.id"
              (ngModelChange)="cargarEjercicios(this.tipoEjercicioId,'si')"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let tipoEjercicio of tiposEjercicio"
                value="{{ tipoEjercicio.id }}"
              >
              {{ tipoEjercicio.nombre }}
              </option>
            </select>
    
            <div
              *ngIf="
                (f.submitted && tipoEjercicioSerieEjercicio.invalid) ||
                (tipoEjercicioSerieEjercicio.touched && !tipoEjercicioSerieEjercicio.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  tipoEjercicioSerieEjercicio.errors.required ||
                  tipoEjercicioSerieEjercicio.invalid
                "
              >
                * Seleccione un tipo ejercicio
              </div>
            </div>
          </div>
    
          <div *ngIf="tipoEjercicioId != '' " class="form-group col-md-6">
            <label for="ejercicio">(*) Ejercicio</label>
            <select
              class="form-control"
              name="ejercicio"
              id="ejercicio"
              #ejercicioSerieEjercicio="ngModel"
              [(ngModel)]="ejercicioId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioSerieEjercicio.invalid) ||
                  (ejercicioSerieEjercicio.touched &&
                    !ejercicioSerieEjercicio.valid)
              }"
              [(ngModel)]="ejercicioSerieUpdate.ejercicio.id"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let ejercicio of ejerciciosSerie"
                value="{{ ejercicio.id }}"
              >
              {{ ejercicio.nombre }}
              </option>
            </select>
    
            <div
              *ngIf="
                (f.submitted && ejercicioSerieEjercicio.invalid) ||
                (ejercicioSerieEjercicio.touched && !ejercicioSerieEjercicio.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioSerieEjercicio.errors.required ||
                  ejercicioSerieEjercicio.invalid
                "
              >
                * Seleccione un ejercicio
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>