<!-- Footer -->
<footer id="footer" class="inverted">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">

                        <div class="widget-title text-orange">Fil's Center Gym</div>
                        <p class="mb-5">
                            Nuestro objetivo es que logres el tuyo. Para ello, ponemos a tu disposición un sistema de entrenamiento que se adapta a ti, con un equipo de profesionales que te ayuda a optimizar tus sesiones para que alcances tus objetivos de una forma rápida y divertida.
                            <br/><br />
                            <span class="text-orange">FIL's Center Gym, tu gimnasio Premium a precio Low Cost.</span>
                        </p>
                        <a href="/registro" class="btn btn-light">Inscríbete ahora</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <div class="widget">
                                <div class="widget-title text-orange">Páginas</div>
                                <ul class="list">
                                    <li><a href="/servicios">Horario</a></li>
                                    <li><a href="/clases">Clases</a></li>
                                    <li><a href="/servicios">Servicios</a></li>
                                    <li><a href="/quienes-somos">El gimnasio</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <div class="widget">
                                <div class="widget-title text-orange">Legal</div>
                                <ul class="list">
                                    <li><a href="/politica-privacidad">Política de privacidad</a></li>
                                    <li><a href="/aviso-legal">Aviso Legal</a></li>
                                    <li><a href="/cookies">Política de cookies</a></li>
                                    <li><a href="/contacto">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <div class="widget">
                                <div class="widget-title text-orange">Área personal</div>
                                <ul class="list">
                                    <li><a href="/iniciar-sesion">Iniciar sesión</a></li>
                                    <li><a href="/registro">Inscríbete</a></li>
                                    <li><a href="/recuperar-pass">Recuperar contraseña</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2021 FIL's Center Gym &nbsp;&nbsp;|&nbsp;&nbsp;<span class="text-orange">DAW - Proyecto Fin de Grado</span>&nbsp;&nbsp;|&nbsp;&nbsp;IES Rey Fernando VI </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->
