<div class="d-flex justify-content-end">
  <button
    id="plus"
    enabled
    (click)="habilitarTaquilla()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Taquilla
  </button>
  <button
    id="minus"
    (click)="deshabilitarTaquilla()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Taquilla
  </button>
</div>
<div *ngIf="mostrarTaquillaAdd == true">
  <app-taquilla-add></app-taquilla-add>
</div>

<h3 class="card-title text-left">Taquillas</h3>
<div class="card-text">
  <table
    id="datatable"
    class="table table-bordered table-hover dataTable text-center"
    style="width: 100%"
    role="grid"
    aria-describedby="datatable_info"
  >
    <thead>
      <tr role="row">
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Número
        </th>

        <th
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let taquilla of taquillas" class="text-center">
        <td>{{ taquilla.numero }}</td>
        <td>
          <a class="ml-2" data-toggle="tooltip" data-original-title="Edit"
          (click)="open(content,taquilla)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="openModalDelete(confirmDelete,this.taquilla)"
            ><i class="icon-trash-2"></i
          ></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="" rowspan="1" colspan="1">Número</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<!-- modal delete -->
<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>¿Seguro que quieres borrar la taquilla <span class="text-danger">{{taquillaAux.numero}} ?</span></h3>
    </div>
  </div>
  <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button (click)="delete(usuario)" type="button" class="btn btn-primary">Borrar</button>
        </div>
</ng-template>

<!--modal update-->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Taquilla</h4>
  </div>
  <div class="modal-body" *ngIf="taquillaUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update(updateModalRol)"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Número Taquilla</label>
            <input
              type="number"
              class="form-control"
              name="numero"
              #numeroTaquilla="ngModel"
              [(ngModel)]="taquillaUpdate.numero"
              placeholder="Número de taquilla"
              required
              min="1"
              max="1000"
              pattern="(([1-9])|([1-9])([0-9])|([1-9])([0-9])([0-9])|1000)"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && numeroTaquilla.invalid) ||
                  (numeroTaquilla.touched && !numeroTaquilla.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && numeroTaquilla.invalid) ||
                (numeroTaquilla.touched && !numeroTaquilla.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="numeroTaquilla.errors.required || numeroTaquilla.invalid"
              >
                * Número no válido
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #updateModalRol let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Update</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>{{textoModal}}</h3>
    </div>
  </div>
  <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss();refresh()"
          >
            Cerrar
          </button>
        </div>
</ng-template>
