<!-- FAQ & OPENING HOURS -->
<section
  id="section2"
  class="background-image"
  style="background-image: url(assets/fitness/images/background1.png)"
>
  <div class="container">
    <div class="col-lg-8 m-b-100 center">
      <div class="heading-text heading-section text-center">
        <h4 class="p-b-10 mb-0 text-primary">Ven a vernos</h4>
        <h2>Clases Colectivas</h2>
        <p>
            Nuestras actividades colectivas son diseñadas por los mejores expertos en actividades físicas de manera que sean eficaces y adaptables a diferentes niveles de dificultad.
        </p>
      </div>
    </div>
    <!-- <hr class="space" /> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="accordion toggle fancy clean accordion-transparent">
          <div class="ac-item" *ngFor="let actividad of actividades">
            <h5 class="ac-title text-uppercase">{{ actividad.nombre }}</h5>
            <div class="ac-content">
              {{ actividad.descripcion }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center p-t-50">
            <button type="button" class="btn btn-rounded btn-reveal btn-lg" (click)="redirectHorario()"><span>Ver Horario de Actividades</span><i class="icon-chevron-right"></i></button>
        </div>
    </div>
  </div>
</section>
<!-- end: FAQ & OPENING HOURS -->
