<!-- FAQ & OPENING HOURS -->
<section
  id="section2"
  class="background-image"
  style="background-image: url(assets/fitness/images/background1.png)"
>
  <div class="container">
    <div class="col-lg-8 m-b-100 center">
      <div class="heading-text heading-section text-center">
        <h4 class="p-b-10 mb-0 text-primary">Ven a vernos</h4>
        <h2>Clases Colectivas</h2>
        <p>
            Nuestras actividades colectivas son diseñadas por los mejores expertos en actividades físicas de manera que sean eficaces y adaptables a diferentes niveles de dificultad.
        </p>
      </div>
    </div>
    <!-- <hr class="space" /> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="accordion toggle fancy clean accordion-transparent">
          <div class="ac-item">
            <h5 class="ac-title text-uppercase">Cross Training</h5>
            <div class="ac-content">
              El entrenamiento cruzado es simplemente una rutina de
              entrenamiento que involucra varios tipos diferentes de ejercicio.
              Esto trabaja más grupos de músculos, mejora la agilidad y facilita
              la participación en una variedad de deportes recreativos, como el
              esquí.
            </div>
          </div>
          <div class="ac-item">
            <h5 class="ac-title text-uppercase">Boby Combat</h5>
            <div class="ac-content">
              El Body Combat es un programa cardiovascular inspirado en las
              Artes Marciales, con movimientos que provienen del Karate, Boxeo,
              Tae Kwon Do, Tai Chi y Muay Thai. Coreografiado en base a una
              buena música, con sus excelentes instructores, los participantes
              realizan golpes, puñetazos, patadas y katas, queman calorías y
              consiguen una mayor resistencia cardiovascular.
            </div>
          </div>
          <div class="ac-item">
            <h5 class="ac-title text-uppercase">Ciclo Indoor</h5>
            <div class="ac-content">
              El ciclismo indoor es una actividad cardiovascular en la que
              pedaleas al ritmo de la música. Una sala de fitnes o una bici
              estática en casa, música, un monitor dispuesto a motivarte y
              muchas ganas de dar pedaladas.
            </div>
          </div>
          <div class="ac-item">
            <h5 class="ac-title text-uppercase">Zumba</h5>
            <div class="ac-content">
              Zumba es una disciplina deportiva que se imparte en clases
              dirigidas en la que se realizan ejercicios aeróbicos al ritmo de
              música latina (merengue, samba, reggaeton, cumbia y salsa) con la
              finalidad de perder peso de forma divertida y mejorar el estado de
              ánimo de los deportistas.
            </div>
          </div>
          <div class="ac-item">
            <h5 class="ac-title text-uppercase">Pilates</h5>
            <div class="ac-content">
              El método Pilates, o simplemente Pilates, es un sistema de
              entrenamiento físico y mental creado a principios del siglo XX por
              Joseph Hubertus Pilates, quien lo ideó basándose en su
              conocimiento de distintas especialidades como gimnasia,
              traumatología y yoga; uniendo el dinamismo y la fuerza muscular
              con el control mental, la respiración y la relajación.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center p-t-50">
            <button type="button" class="btn btn-rounded btn-reveal btn-lg" (click)="redirectHorario()"><span>Ver Horario de Actividades</span><i class="icon-chevron-right"></i></button>
        </div>
    </div>
  </div>
</section>
<!-- end: FAQ & OPENING HOURS -->
