<section
  class="p-t-200 p-b-200"
  data-bg-parallax="assets/fitness/images/parallax/bike.jpg"
>
  <div
    class="parallax-container img-loaded"
    data-bg="assets/fitness/images/parallax/bike.jpg"
    data-velocity="100"
  ></div>
  <div class="bg-overlay" data-style="10"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 center text-center text-light">
        <h1 class="text-lg font-weight-600">Estamos de oferta</h1>
        <p class="lead">Pregunta por nuestras promociones</p>
        <a href="/contacto" class="btn btn-light btn-outline btn-rounded btn-icon-holder btn-shadow mt-4"
          >No te pierdas esta oportunidad <i class="icon-user-plus"></i></a
        >
      </div>
    </div>
  </div>
</section>
