<div *ngIf="!isDataLoaded" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="isDataLoaded">
  <table class="table table-striped horario">
    <thead>
      <tr>
        <th scope="col" class="text-center">Hora</th>
        <th scope="col" class="text-center">Lunes</th>
        <th scope="col" class="text-center">Martes</th>
        <th scope="col" class="text-center">Miercoles</th>
        <th scope="col" class="text-center">Jueves</th>
        <th scope="col" class="text-center">Viernes</th>
        <th scope="col" class="text-center">Sabado</th>
        <th scope="col" class="text-center">Domingo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hora of horas" class="text-center">
        <th scope="row" class="text-center">{{ hora.hora }}</th>
        <td *ngFor="let dia of diasSemana"  class="text-center">
          <div *ngIf="hora[dia]">
            <button
              class="btn btn-xs btn-rounded horarioClase" [ngStyle]="{'border-color':hora[dia].color, 'background-color': hora[dia].color }"
              (click)="open(content,hora[dia].slot)"
            >
              <img
                src="{{ hora[dia].imagen }}"
                alt="{{ hora[dia].monitor }}"
                class="rounded-circle m-r-10"
                width="26"
              />
              {{ hora[dia].actividad}}
            </button>
          </div>
          <div *ngIf="!hora[dia]">
            <span class="text-danger"><i class="fa fa-window-close"></i></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-label"><span class="badge badge-pill badge-primary claseTitle text-uppercase">{{slotSeleccionado.actividad.nombre}}</span></h4>
    <button type="button" class="close" (click)="modal.dismiss()"><i class="icon-x"></i></button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
            <div class="monitor">
                <img src="assets/fitness/images/trainers/3.png" alt="Alan Monroe" class="rounded-circle"/>
                <span class="nombre">{{ slotSeleccionado.monitor.nombre + ' '+ slotSeleccionado.monitor.apellidos }}</span>
                <span>Monitor</span>
            </div>
        </div>
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Hora
                    <span class="font-weight-bold dataHora">{{ slotSeleccionado.horaInicio }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Día
                    <span class="font-weight-bold dataDia">{{ slotSeleccionado.diaSemana }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Aforo
                    <span class="font-weight-bold dataAforo">{{ aforoActual }} (max {{ slotSeleccionado.sala.aforoMax }})</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Sala
                    <span class="font-weight-bold dataSala">{{ slotSeleccionado.sala.numero }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-12 my-4" *ngIf="isLoggedIn">
            <h4 class="text-center mb-3">Reserva tu plaza en la clase</h4>
            <div class="row" *ngIf="!hasReserva">
                <div class="col-4 offset-4 text-right">
                    <input type="checkbox" name="recurrente" class="form-control" [(ngModel)]="isRecurrente" /> <label>¿Es recurrente?</label>
                </div>
                <div class="col-md-8 offset-md-2 text-center">
                    <button type="button" class="btn btn-xs btn-success" (click)="doReserva(slotSeleccionado.id)">Reservar clase</button>
                </div>
            </div>
            <div class="row" *ngIf="hasReserva">
              <div class="col-md-12 text-center">
                <span class="badge badge-pill badge-success">Ya tienes una plaza reservada para esta clase</span>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-b btn-sm" (click)="modal.dismiss()">Cerrar</button>
</div>
</ng-template>