<table class="table table-striped horario">
  <thead>
    <tr>
      <th scope="col" class="text-center">Hora</th>
      <th scope="col" class="text-center">Lunes</th>
      <th scope="col" class="text-center">Martes</th>
      <th scope="col" class="text-center">Miercoles</th>
      <th scope="col" class="text-center">Jueves</th>
      <th scope="col" class="text-center">Viernes</th>
      <th scope="col" class="text-center">Sabado</th>
      <th scope="col" class="text-center">Domingo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-center vertical-align-middle">07:00 - 08:00</th>
      <td class="text-center">
        <button class="btn btn-xs btn-rounded horarioClase" (click)="openModalClase(1, '07:00 - 08:00')">
          <img src="assets/fitness/images/trainers/3.png" alt="Alan Monroe" class="rounded-circle m-r-10" width="26"/>
          Body Combat
        </button>
      </td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
      <td class="text-center">Mark</td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">08:00 - 09:00</th>
      <td class="text-center">Jacob</td>
      <td class="text-center">Thornton</td>
      <td class="text-center">@fat</td>
      <td class="text-center">Mark</td>
      <td class="text-center">
        <button class="btn btn-xs btn-warning btn-rounded horarioClase" (click)="openModalClase(1, '07:00 - 08:00')">
          <img src="assets/fitness/images/trainers/3.png" alt="Alan Monroe" class="rounded-circle m-r-10" width="26"/>
          Pilates
        </button>
      </td>
      <td class="text-center">@mdo</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <th scope="row" class="text-center">09:00 - 10:00</th>
      <td class="text-center">Larry</td>
      <td class="text-center">the Bird</td>
      <td class="text-center">@twitter</td>
      <td class="text-center">Mark</td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
        <th scope="row" class="text-center">10:00 - 11:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
    </tr>
    <tr>
        <th scope="row" class="text-center">11:00 - 12:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
    </tr>
      <tr>
        <th scope="row" class="text-center">12:00 - 13:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">13:00 - 14:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">14:00 - 15:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">15:00 - 16:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">16:00 - 17:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">17:00 - 18:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">18:00 - 19:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">19:00 - 20:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">20:00 - 21:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">21:00 - 22:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="text-center">22:00 - 23:00</th>
        <td class="text-center">Larry</td>
        <td class="text-center">the Bird</td>
        <td class="text-center">@twitter</td>
        <td class="text-center">Mark</td>
        <td class="text-center">Otto</td>
        <td class="text-center">@mdo</td>
        <td class="text-center">@mdo</td>
      </tr>
  </tbody>
</table>
