<h3>Nuevo Slot</h3>
<div class="card-body">
  <form
    class="form-validate"
    name="form"
    (ngSubmit)="f.form.valid && addSlot()"
    #f="ngForm"
  >
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="dia">(*) Dia Semana</label>
        <input
        type="text"
          class="form-control"
          name="dia"
          id="dia"
          #slotDia="ngModel"
          [(ngModel)]="nuevoSlot.diaSemana"
          required
          placeholder="Ej: Lunes, Martes, ..."
          pattern="^([a-zA-Z]){1}([a-zA-ZáéíóúÁÉÍÓÚ]){1,}"
          [ngClass]="{
            'is-invalid':
              (f.submitted && slotDia.invalid) ||
              (slotDia.touched && !slotDia.valid)
          }"

        />
        <div
          *ngIf="
            (f.submitted && slotDia.invalid) ||
            (slotDia.touched && !slotDia.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              slotDia.errors.required || slotDia.invalid
            "
          >
            * opción no válida
          </div>
        </div>
      </div>


      <div class="form-group col-md-6">
        <label for="hora">(*) Hora Inicio</label>
        <input
        type="text"
          class="form-control"
          name="hora"
          id="hora"
          #slotHora="ngModel"
          [(ngModel)]="nuevoSlot.horaInicio"
          required
          placeholder="Ej: 1300(13:00), 0935(09:35)"
          pattern="^(0([0-9])|1([0-9])|2([0-3]))(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|)"
          [ngClass]="{
            'is-invalid':
              (f.submitted && slotHora.invalid) ||
              (slotHora.touched && !slotHora.valid)
          }"

        />
        <div
          *ngIf="
            (f.submitted && slotHora.invalid) ||
            (slotHora.touched && !slotHora.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              slotHora.errors.required || slotHora.invalid
            "
          >
            * Hora no válida
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="actividad">(*) Actividad</label>
        <select
          class="form-control"
          name="actividad"
          id="actividad"
          #slotActividad="ngModel"
          [(ngModel)]="actividadId"
          required
          [ngClass]="{
            'is-invalid':
              (f.submitted && slotActividad.invalid) ||
              (slotActividad.touched && !slotActividad.valid)
          }"
          [(ngModel)]="slotActividadSelect"
        >
          <option value="" selected >- Elige una opción - </option>
          <option *ngFor="let actividad of actividades" value="{{ actividad.id }}">
            {{ actividad.nombre }} - {{actividad.tipoActividad.nombre}}
          </option>
        </select>
        <div
          *ngIf="
            (f.submitted && slotActividad.invalid) ||
            (slotActividad.touched && !slotActividad.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              slotActividad.errors.required || slotActividad.invalid
            "
          >
            * actividad no válida
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="monitor">(*) Monitor</label>
        <select
          class="form-control"
          name="monitor"
          id="monitor"
          #slotMonitor="ngModel"
          [(ngModel)]="monitorId"
          required
          [ngClass]="{
            'is-invalid':
              (f.submitted && slotMonitor.invalid) ||
              (slotMonitor.touched && !slotMonitor.valid)
          }"
          [(ngModel)]="slotMonitorSelect"
        >
          <option value="" selected >- Elige una opción - </option>
          <option *ngFor="let monitor of monitores" value="{{ monitor.id }}">
            {{ monitor.nombre }}
          </option>
        </select>
        <div
          *ngIf="
            (f.submitted && slotMonitor.invalid) ||
            (slotMonitor.touched && !slotMonitor.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              slotMonitor.errors.required || slotMonitor.invalid
            "
          >
            * Usuario no válida
          </div>
        </div>
      </div>


      <div class="form-group col-md-4">
        <label for="sala">(*) Sala</label>
        <select
          class="form-control"
          name="sala"
          id="sala"
          #slotSala="ngModel"
          [(ngModel)]="salaId"
          required
          [ngClass]="{
            'is-invalid':
              (f.submitted && slotSala.invalid) ||
              (slotSala.touched && !slotSala.valid)
          }"
          [(ngModel)]="slotSalaSelect"
        >
          <option value="" selected >- Elige una opción - </option>
          <option *ngFor="let sala of salas" value="{{ sala.id }}">
            {{ sala.numero }}  (Aforo {{sala.aforoMax}} pers.)
          </option>
        </select>
        <div
          *ngIf="
            (f.submitted && slotSala.invalid) ||
            (slotSala.touched && !slotSala.valid)
          "
          class="invalid-feedback"
        >
          <div
            *ngIf="
              slotSala.errors.required || slotSala.invalid
            "
          >
            * Usuario no válida
          </div>
        </div>
      </div>


    </div>
    <button type="submit" class="btn m-t-30 mt-3">Añadir</button>
  </form>
</div>
