<h3>Nueva Taquilla</h3>
<div class="card-body">
  <form
    class="form-validate"
    name="form"
    (ngSubmit)="f.form.valid && addTaquilla(create,errorModal)"
    #f="ngForm"
  >
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Número Taquilla</label>
        <input
          type="number"
          class="form-control"
          name="numero"
          #numeroTaquilla="ngModel"
          [(ngModel)]="nuevaTaquilla.numero"
          placeholder="Número de taquilla"
          required
          min="1"
          max="1000"
          pattern="(([1-9])|([1-9])([0-9])|([1-9])([0-9])([0-9])|1000)"
          [ngClass]="{
            'is-invalid':
              (f.submitted && numeroTaquilla.invalid) ||
              (numeroTaquilla.touched && !numeroTaquilla.valid)
          }"
        />
        <div
          *ngIf="
            (f.submitted && numeroTaquilla.invalid) ||
            (numeroTaquilla.touched && !numeroTaquilla.valid)
          "
          class="invalid-feedback"
        >
          <div *ngIf="numeroTaquilla.errors.required || numeroTaquilla.invalid">
            * Número no válido
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn m-t-30 mt-3">Añadir</button>
  </form>
</div>

<ng-template #create let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>Taquilla <span class="text-danger">{{nuevaTaquilla.numero}}</span> registrada!</h3>
    </div>
  </div>
  <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            aria-label="Close"
            (click)="modal.dismiss();refresh()"
          >
            Cerrar
          </button>
        </div>
</ng-template>

<ng-template #errorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>¡Hubo un error!</h3>
      <p>comprueba los campos únicos</p>
    </div>
  </div>
  <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cerrar
          </button>
        </div>
</ng-template>
