<!-- TRAINERS -->
<section id="section5" style="background-color: #2D2C2A">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center m-b-40">
                <h2 class="text-lg font-weight-600 m-b-20 text-light">El Equipo</h2>
                <p class="lead text-light font-weight-400">Tenemos un gran equipo de entrenadores persoales que te ayudarán a conseguir tus objetivos.</p>
            </div>
        </div>
        <div class="row team-members team-members-circle team-members-transparent m-b-40 text-light">
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="100">
                <team-member
                    [memberImg]="'1.png'"
                    [memberNombre]="'Alea Sánchez'"
                    [memberTitulo]="'Monitor'"
                    [memberBio]="frases[0].frase"
                    [facebook]="'#'"
                    [twitter]="'#'"
                    [instagram]="'#'"
                    [email]="'alea@filscenter.com'"></team-member>
            </div>
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="200">
                <team-member
                    [memberImg]="'2.png'"
                    [memberNombre]="'Carlos Perea'"
                    [memberTitulo]="'Monitor'"
                    [memberBio]="frases[1].frase"
                    [facebook]="'#'"
                    [twitter]="'#'"
                    [instagram]="'#'"
                    [email]="'carlos@filscenter.com'"></team-member>
            </div>
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="300">
                <team-member
                    [memberImg]="'3.png'"
                    [memberNombre]="'Pedro Rodríguez'"
                    [memberTitulo]="'Monitor'"
                    [memberBio]="frases[2].frase"
                    [facebook]="'#'"
                    [twitter]="'#'"
                    [instagram]="'#'"
                    [email]="'pedro@filscenter.com'"></team-member>
            </div>
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="400">
                <team-member
                    [memberImg]="'4.png'"
                    [memberNombre]="'Carla Pérez'"
                    [memberTitulo]="'Monitor'"
                    [memberBio]="frases[3].frase"
                    [facebook]="'#'"
                    [twitter]="'#'"
                    [instagram]="'#'"
                    [email]="'carla@filscenter.com'"></team-member>
            </div>
        </div>
    </div>
</section>
<!-- end: TRAINERS -->
