<app-pagetitle [pageTitle]="pageTitle" [pageDesc]="pageDesc" [pageImg]="pageImg"></app-pagetitle>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Introducción</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>El presente documento tiene como finalidad el establecer y regular las normas de uso de la página web https://filscentergym.com (en adelante “Web Fil's Center”, entendiendo por Web todas las páginas y sus contenidos propiedad de FIL's Center GYM, S.L. a las cuales se accede a través del dominio www.filscentergym.com y sus subdominios.</p>
                <p>Mediante esta web, FIL's Center GYM, S.L. pretende ofrecer el máximo de información acerca de sus servicios, actividades, eventos, formación, etc., poniendo a disposición de los usuarios una herramienta de conocimiento de todas las áreas y actividades que le corresponden.</p>
                <p>La utilización de esta página, así como de los servicios que en ella se ofrecen, supondrá la aceptación plena y sin reservas de todas y cada una de las condiciones generales recogidas en el presente Aviso Legal (en adelante las “Condiciones Generales”), por lo que el usuario deberá de ser consciente de la importancia de leerlas cuando visite la Web. El hecho de acceder a esta Web implica el conocimiento y aceptación de las siguientes Condiciones Generales por lo que FIL's Center GYM, S.L. recomiendan al usuario su impresión o su descarga y lectura detallada cada vez que acceda a esta Web.</p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Información General</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>En cumplimiento del artículo 10 de la Ley 34/2002 de Servicios de la Sociedad de la Información y Comercio Electrónico, se informa de que:</p>
                <p>El titular del dominio y los contenidos de la Web https://filscentergym.com es FIL's Center GYM, S.L. con domicilio social en la Avenida José Gárate, 5. Coslada.28823.</p>
                <p>Que se encuentra inscrita con el NIF B87297602 en el Registro Mercantil de Madrid: Diario 50; Asiento 883; Fecha de presentación: 27/05/2015; Entrada: 1/2015/64.883.0; Hoja: M-603372 Notario: Florit de Carranza, Antonio José</p>
                <p>Protocolo: 2015/1541 de 26/05/2015</p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Uso de la Web</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>Mediante la aceptación de las presentes Condiciones Generales el usuario se compromete a usar la presente Web y los servicios puestos a su disposición en el mismo, de la manera y en la forma que en él mismo se establece. Quedando obligado a no utilizar la Web, sus contenidos y sus servicios con fines ilícitos y/o contrarios a los fines establecidos en estas Condiciones Generales, que pudieran ser lesivos de derechos y/o intereses de terceros o que de cualquier forma puedan dañar o impedir su correcto funcionamiento o de los servicios que en él se ofrecen u ofrecieran en el futuro.</p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Ámbito de la Web, Responsabilidad del Usuario</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>Se encuentra comprendida en esta Web la página www.filscentergym.com. El acceso a esta Web es responsabilidad exclusiva de los usuarios. Los riesgos derivados de la utilización de la Web por el usuario serán a su único y exclusivo cargo. FIL's Center GYM, S.L. no será responsable de posibles daños o perjuicios que se pudieran derivar de interferencias omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el funcionamiento operativo de este sistema electrónico, motivadas por causas ajenas a estas dos entidades; de retrasos o bloqueos en el uso del presente sistema electrónico causados por deficiencias o sobrecargas en su Centro de Procesos de Datos, de líneas telefónicas, en el sistema de Internet o en otros sistemas electrónicos; ni tampoco de daños que puedan ser causados por terceras personas mediante intromisiones ilegítimas fuera del control de FIL's Center GYM, S.L.</p>
                <p>Asimismo, se exonera a FIL's Center GYM, S.L. de responsabilidad ante cualquier daño o perjuicio que pudiera sufrir el usuario como consecuencia de errores, defectos u omisiones, en la información facilitada por esta web siempre que proceda de fuentes ajenas.</p>
            </div>  
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Actualidad y Modificación de la Información</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>La información que aparece en esta Web es la vigente en la fecha de su última actualización. FIL's Center GYM, S.L. se reserva el derecho a actualizar, modificar o eliminar la información de esta Web, pudiendo limitar o no permitir el acceso al mismo. FIL's Center GYM, S.L. se reserva la facultad de efectuar, en cualquier momento, cuantos cambios y modificaciones estime convenientes, pudiendo hacer uso de tal facultad en cualquier momento y sin previo aviso.</p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Contenidos</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>FIL's Center GYM, S.L. realiza los máximos esfuerzos para evitar cualquier error en los contenidos que pudieran aparecer en esta Web. FIL's Center GYM, S.L. no garantiza, ni se responsabiliza de las consecuencias que pudieran derivarse de los errores en los contenidos que pudieran aparecer en esta Web proporcionados por terceros.</p>
                <p>FIL's Center GYM, S.L. no se responsabiliza en modo alguno de aquellos contenidos, actividades comerciales, productos y servicios incluidos que pudiesen visualizarse mediante enlaces electrónicos (links) si los hubiera y cuando los hubiere, de forma directa o indirectamente, a través de esta Web.</p>
                <p>FIL's Center GYM, S.L. se reserva el derecho a impedir o prohibir el acceso a la Web a cualquier usuario de Internet que introduzca en esta Web cualquier contenido contrario a las normas legales o sea inmoral, reservándose el derecho de ejercer las medidas legales que estime oportunas para evitar este tipo de conductas.</p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Navegación, Acceso y Seguridad</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>FIL's Center GYM, S.L. realiza los máximos esfuerzos para que la navegación se realice en las mejores condiciones y evitar los perjuicios de cualquier tipo que pudiesen ocasionarse durante la misma.</p>
                <p>FIL's Center GYM, S.L. no se hace responsable de los perjuicios, de cualquier índole, que pudieran ocasionarse a los usuarios por la utilización de otros navegadores o versiones distintas de los navegadores para los que ha sido diseñada la Web.</p>
                <p>FIL's Center GYM, S.L. no se responsabiliza ni garantizan que el acceso a esta Web sea interrumpido o que esté libre de error. Tampoco se responsabilizan o garantizan que el contenido o software al que pueda accederse a través de esta Web, esté libre de error o cause un daño.</p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Protección de datos</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>FIL's Center GYM, S.L. informa a los usuarios de esta Web que tanto respeta la legislación vigente en materia de protección de datos, adoptando para ello las medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados, en su caso, a través de la Web, habida cuenta del estado de la tecnología, la naturaleza de los datos y los riesgos a los que están expuestos. En el supuesto de que al hacer uso de los servicios que FIL's Center GYM, S.L. brinda en esta Web los usuarios debieran rellenar datos de carácter personal, FIL's Center GYM, S.L. -en cumplimiento de la normativa vigente- informará cumplidamente al usuario de sus derechos y recabará su consentimiento expreso e inequívoco para el tratamiento de sus datos de carácter personal.</p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Sobre el uso de cookies</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>FIL's Center Gym S.L. por su propia cuenta o la de un tercero contratado para la prestación de servicios de medición, puede utilizar cookies cuando un usuario navega por el sitio web. Las cookies son ficheros enviados al navegador por medio de un servidor web con la finalidad de registrar las actividades del usuario durante su tiempo de navegación.</p>
                <p>Las cookies utilizadas por el sitio web se asocian únicamente con un usuario anónimo y su ordenador, y no proporcionan por sí mismas los datos personales del usuario.</p>
                <p>Mediante el uso de las cookies resulta posible que el servidor donde se encuentra la web, reconozca el navegador web utilizado por el usuario con la finalidad de que la navegación sea más sencilla, permitiendo, por ejemplo, el acceso a los usuarios que se hayan registrado previamente, acceder a las áreas, servicios, promociones o concursos reservados exclusivamente a ellos sin tener que registrarse en cada visita. Se utilizan también para medir la audiencia y parámetros del tráfico, controlar el progreso y número de entradas.</p>
                <p>Si no se habilitan las cookies, es posible que algunas funciones y páginas no se muestren correctamente.</p>
                <p>Para borrar las cookies en el ordenador, hacer clic en «Ayuda» del menú del navegador para ver las instrucciones.</p>
                <p>El usuario también tiene la posibilidad de configurar su navegador para ser avisado de la recepción de cookies y para impedir su instalación en su equipo. Por favor, consulte las instrucciones y manuales de su navegador para ampliar esta información.</p>
                <p>Para utilizar el sitio web, no resulta necesario que el usuario permita la instalación de las cookies enviadas por el sitio web, o el tercero que actúe en su nombre, sin perjuicio de que sea necesario que el usuario inicie una sesión como tal en cada uno de los servicios cuya prestación requiera el previo registro o “login”.</p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Propiedad Intelectual y Derechos de Autor</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>FIL's Center GYM, S.L. declara que salvo que se indique lo contrario en la Web, los textos, imágenes, ilustraciones, diseños, iconos, fotografías, segmentos de vídeo, segmentos de sonido y demás materiales que se encuentren en la Web y cualesquiera otras creaciones intelectuales y/o invenciones o descubrimientos científicos y técnicos, cualquiera que sea su aplicación empresarial o industrial (en adelante colectivamente denominados el “Contenido” han sido creados o inventados por FIL's Center GYM, S.L. o cedidos, licenciados, transmitidos o autorizados a ésta por sus titulares y/o cesionarios. El Usuario se compromete a no suprimir o alterar cualesquiera signo distintivo utilizado en la Web, tales como, con carácter no exhaustivo, marcas, nombres comerciales (gráficos, logotipos, etcétera), el “copyright” y demás datos identificativos de los derechos de FIL's Center GYM, S.L. o de terceros titulares incorporados en la Web.</p>
                <p>Son propiedad de FIL's Center GYM, S.L. igualmente todos los derechos sobre cualesquiera obras, inventos, descubrimientos, patentes, ideas, conceptos, actualizaciones y las mejoras relacionadas con la Web, sus sistemas, aplicaciones y programas o con los servicios que estas entidades prestas, que sean creados, realizados, desarrollados o puestos en práctica por primera vez por ellas, ya sea por sí sola o con la ayuda de los usuarios de la Web, en el transcurso o como resultado de algún diseño, desarrollo o cualquier otra tarea realizada de conformidad con el Contrato.</p>
                <p>El Usuario no podrá utilizar el nombre ni las marcas, símbolos, logotipos o signos distintivos de titularidad de FIL's Center GYM, S.L. sin el consentimiento expreso y escrito de estas.</p>
                <p>En caso de que cualquier usuario o tercero considere que cualquiera de los contenidos existentes en la Web suponga una violación de los derechos de autor u otros derechos de protección de la propiedad intelectual, rogamos que lo comunique a la siguiente dirección: FIL's Center GYM, S.L. en la Avenida José Gárate nº 5, 28823 Coslada; e-mail: Esta dirección de correo electrónico está siendo protegida contra los robots de spam. Necesita tener JavaScript habilitado para poder verlo.”>info@filscentergym.com. Esta dirección de correo electrónico está protegida contra los robots de spam, necesita tener Javascript activado para poder verla.</p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Política de privacidad</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>En cumplimiento de la normativa vigente en materia de Protección de Datos personales, le informamos que los datos personales facilitados por los usuario de esta Web en sus distintos formularios serán incorporados y tratados en uno o más ficheros titularidad de FIL's Center GYM S.L. con la finalidad de gestionar su solicitud y facilitarle el alta como cliente, así como para mantenerle informado, incluso por vía electrónica, de futuras noticias y novedades relacionadas con nuestra empresa.</p>
                <p>Los datos que se solicitan en los distintos formularios marcados con asterisco (*) son los  estrictamente necesarios para poder proporcionarle el servicio solicitado o poder contactar con el usuario.</p>
                <p>El usuario garantiza la veracidad de los datos personales proporcionados, siendo el único responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionar a FIL's Center GYM S.L.  a causa de la cumplimentación de los formularios con datos falsos, inexactos o incompletos.</p>
                <p>En caso de que el usuario incluya datos personales de terceras personas  deberá, con carácter previo a su inclusión, informarles de lo establecido en la presente política de privacidad, siendo el único responsable de su inclusión.</p>
                <p>FIL's Center GYM S.L.. se compromete a no ceder los datos de carácter personal facilitados por los usuarios de esta web a terceras personas o empresas sin el consentimiento previo, expreso, informado e inequívoco del afectado.</p>
                <p>Los usuarios pueden ejercitar los derechos de acceso, rectificación, cancelación, limitación del tratamiento,  oposición y portabilidad reconocidos en la actual legislación mediante comunicación escrita al responsable del tratamiento que se cita abajo, o a la dirección de correo electrónico:  info@filscentergym.com  o mediante el formulario de ejercicio de derechos proporcionado en la dirección antes indicada.</p>
                <p>La aceptación de los términos expuestos en esta política de privacidad en necesaria para el envío y transmisión de la solicitud realizada.</p>
                <h4>Responsable del Tratamiento:</h4>
                <p>
                FIL's Center Gym<br/>
                AVDA. JOSE GARATE, 5<br/>
                COSLADA<br/>
                MADRID<br/>
                </p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Política de privacidad Redes Sociales</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>FIL's Center GYM, S.L. informa que los datos personales cedidos para el uso en las redes sociales pueden ser cedidos entre las diferentes empresas del grupo FIL's Center Gym.</p>
                <p>Los usuarios pueden ejercitar los derechos de acceso, rectificación, cancelación, limitación del tratamiento,  oposición y portabilidad reconocidos en la actual legislación mediante comunicación escrita al responsable del tratamiento que se cita abajo, o a la dirección de correo electrónico:  info@filscentergym.com  o mediante el formulario de ejercicio de derechos proporcionado en la dirección antes indicada.</p>
                <p>La aceptación de los términos expuestos en esta política de privacidad en necesaria para el envío y transmisión de la solicitud realizada.</p>
                <h4>Responsable del Tratamiento:</h4>
                <p>
                FIL's Center Gym<br/>
                AVDA. JOSE GARATE, 5<br/>
                COSLADA<br/>
                MADRID<br/>
                </p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="font-weight-600">Jurisdicción y Legislación aplicable</h4>
                </div>
            </div>
            <div class="col-md-12">
                <p>Las Normas de Uso que se encuentran en el presente Acuerdo Legal, se rigen por la ley Española. Tanto FIL's Center GYM, S.L. como los usuarios de la Web están de acuerdo en que para cualquier discrepancia que pueda surgir en cuanto a la interpretación, cumplimiento y/o ejecución, de las presentes normas se someterán expresamente a la jurisdicción de los Jueces y Tribunales competentes de Madrid, con renuncia expresa, a cualquier otro fuero que pudiera corresponderles.</p>
            </div>        
        </div>
    </div>
</section>

<shared-call-to-action
    [title]="'Te esperamos'"
    [classTitle]="'text-light text-medium'"
    [img]="'haltere.jpg'"
    [overlayStyle] = "11"
    [btnTxt]="'Inscríbete'"
    [btnUrl]="'/registro'"
    [btnClass]="'btn-light btn-lg'"
    ></shared-call-to-action>