<!-- FAQ & OPENING HOURS -->
<section id="section2" class="background-image" style="background-image:url(assets/fitness/images/background1.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="text-medium">Fitness
                    <br />programs</div>
                <div class="accordion toggle fancy clean accordion-transparent">
                    <div class="ac-item">
                        <h5 class="ac-title">7 DAYS FAT LOSS</h5>
                        <div class="ac-content">
                            <h4>Pellentesque ipsum erat</h4>
                            <p>Facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Neque porro quisquam est.
                                <br />Adipisci velit. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.</p>
                        </div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title">BUILD MUSSLE</h5>
                        <div class="ac-content">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
                    </div>
                    <div class="ac-item ac-active">
                        <h5 class="ac-title">CARDIO PROGRAM</h5>
                        <div class="ac-content">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title">STRONG ARM</h5>
                        <div class="ac-content">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-medium">Working hours</div>
                <div class="working-hours">
                    <ul>
                        <li>Monday<span class="opening-hour">05:00 - 23:00</span></li>
                        <li>Tuesday<span class="opening-hour">05:00 - 23:00</span></li>
                        <li>wednesday<span class="opening-hour">05:00 - 23:00</span></li>
                        <li>Thursday<span class="opening-hour">05:00 - 23:00</span></li>
                        <li>Friday<span class="opening-hour">05:00 - 23:00</span></li>
                        <li>Saturday<span class="opening-hour">05:00 - 23:00</span></li>
                        <li>Sunday<span class="opening-hour">05:00 - 23:00</span></li>
                    </ul>
                    <p><b>Note:</b> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- end: FAQ & OPENING HOURS -->