<div class="d-flex justify-content-end">
  <button
    id="plus"
    enabled
    (click)="habilitarSala()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Sala
  </button>
  <button
    id="minus"
    (click)="deshabilitarSala()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Sala
  </button>
</div>
<div *ngIf="mostrarSalaAdd == true">
  <app-sala-add></app-sala-add>
</div>

<h3 class="card-title text-left">Salas</h3>
<div class="card-text">
  <table
    id="datatable"
    class="table table-bordered table-hover dataTable text-center"
    style="width: 100%"
    role="grid"
    aria-describedby="datatable_info"
  >
    <thead>
      <tr role="row">
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Número sala
        </th>
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Aforo Máximo
        </th>
        <th
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sala of salas" class="text-center">
        <td>{{ sala.numero }}</td>
        <td>{{ sala.aforoMax }}</td>
        <td>
          <a class="ml-2" data-toggle="tooltip" data-original-title="Edit"
          (click)="open(content,sala)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="openModalDelete(confirmDelete,this.sala)"
            ><i class="icon-trash-2"></i
          ></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="" rowspan="1" colspan="1">Número Sala</th>
        <th id="" rowspan="1" colspan="1">Aforo Máximo</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>¿Seguro que quieres borrar la sala <span class="text-danger">{{salaAux.numero}} ({{salaAux.id}})?</span></h3>
    </div>
  </div>
  <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button (click)="delete()" type="button" class="btn btn-primary">Borrar</button>
        </div>
</ng-template>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Sala</h4>
  </div>
  <div class="modal-body" *ngIf="salaUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update()"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Aforo Máximo</label>
            <input
              type="number"
              class="form-control"
              name="aforoMax"
              #aforoSala="ngModel"
              [(ngModel)]="salaUpdate.aforoMax"
              placeholder="Aforo Máximo"
              required
              min="1"
              max="100"
              pattern="(([1-9])|([1-9])([0-9])|100)"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && aforoSala.invalid) ||
                  (aforoSala.touched && !aforoSala.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && aforoSala.invalid) ||
                (aforoSala.touched && !aforoSala.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="aforoSala.errors.required || aforoSala.invalid">
                * Aforo no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="username">Número de Sala</label>
            <input
              type="number"
              class="form-control"
              name="numeroSala"
              #numeroSala="ngModel"
              [(ngModel)]="salaUpdate.numero"
              placeholder="Número de Sala"
              required
              min="1"
              max="100"
              pattern="(([1-9])|([1-9])([0-9])|100)"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && numeroSala.invalid) ||
                  (numeroSala.touched && !numeroSala.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && numeroSala.invalid) ||
                (numeroSala.touched && !numeroSala.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="numeroSala.errors.required || numeroSala.invalid">
                * Número no válido
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
