<app-pagetitle [pageTitle]="pageTitle" [pageDesc]="pageDesc" [pageImg]="pageImg"></app-pagetitle>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="mb-0">Política de privacidad</h4>
                    <h3 class="font-weight-600">Datos personales</h3>
                </div>
            </div>
            <div class="col-md-12">
                <p>En cumplimiento de la normativa vigente en materia de Protección de Datos personales, le informamos que los datos personales facilitados por los usuario de esta Web en sus distintos formularios serán incorporados y tratados en uno o más ficheros titularidad de FIL's Center Gym SL con la finalidad de gestionar su solicitud y facilitarle el alta como cliente, así como para mantenerle informado, incluso por vía electrónica, de futuras noticias y novedades relacionadas con nuestra empresa.</p>
                <p>Los datos que se solicitan en los distintos formularios marcados con asterisco (*) son los  estrictamente necesarios para poder proporcionarle el servicio solicitado o poder contactar con el usuario.</p>
                <p>El usuario garantiza la veracidad de los datos personales proporcionados, siendo el único responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionar a FIL's Center Gym SL  a causa de la cumplimentación de los formularios con datos falsos, inexactos o incompletos.</p>
                <p>En caso de que el usuario incluya datos personales de terceras personas  deberá, con carácter previo a su inclusión, informarles de lo establecido en la presente política de privacidad, siendo el único responsable de su inclusión.</p>
                <p>FIL's Center Gym S.L. se compromete a no ceder los datos de carácter personal facilitados por los usuarios de esta web a terceras personas o empresas sin el consentimiento previo, expreso, informado e inequívoco del afectado.</p>
                <p>Los usuarios pueden ejercitar los derechos de acceso, rectificación, cancelación, limitación del tratamiento,  oposición y portabilidad reconocidos en la actual legislación mediante comunicación escrita al responsable del tratamiento que se cita abajo, o a la dirección de correo electrónico:  info@filscentergym.com  o mediante el formulario de ejercicio de derechos proporcionado en la dirección antes indicada.</p>
                <p>La aceptación de los términos expuestos en esta política de privacidad en necesaria para el envío y transmisión de la solicitud realizada.</p>
                
                <h4>Responsable del Tratamiento:</h4>
                <p>
                FIL's Center Gym<br/>
                AVDA. JOSE GARATE, 5<br/>
                COSLADA<br/>
                MADRID<br/>
                </p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="mb-0">Política de privacidad</h4>
                    <h3 class="font-weight-600">Redes Sociales</h3>
                </div>
            </div>
            <div class="col-md-12">
                <p>FIL's Center Gym S.L. informa que los datos personales cedidos para el uso en las redes sociales pueden ser cedidos entre las diferentes empresas del grupo FIL's Center.</p>
                <p>Los usuarios pueden ejercitar los derechos de acceso, rectificación, cancelación, limitación del tratamiento,  oposición y portabilidad reconocidos en la actual legislación mediante comunicación escrita al responsable del tratamiento que se cita abajo, o a la dirección de correo electrónico:  info@filscentergy,.com  o mediante el formulario de ejercicio de derechos proporcionado en la dirección antes indicada.</p>
                <p>La aceptación de los términos expuestos en esta política de privacidad en necesaria para el envío y transmisión de la solicitud realizada.</p>
                
                <h4>Responsable del Tratamiento:</h4>
                <p>
                FIL's Center Gym<br/>
                AVDA. JOSE GARATE, 5<br/>
                COSLADA<br/>
                MADRID<br/>
                </p>
            </div>
            <div class="col-md-12 mt-5">
                <div class="heading-text heading-section">
                    <h4 class="mb-0">Política de privacidad</h4>
                    <h3 class="font-weight-600"> Comunicaciones Comerciales</h3>
                </div>

                <p>He sido informado:</p>
                <p>Que mis datos personales facilitados también podrán ser tratados para el envío de comunicaciones comerciales, por cualquier medio, relacionadas con los productos y servicios de FIL's Center Gym, S.L., así como el envío de invitaciones a eventos organizados por la empresa.</p>
                <p>Los datos proporcionados se conservarán mientras no solicite la revocación o cancelación del tratamiento. Los datos no se cederán a terceros salvo en los casos en que exista una obligación legal.</p>
                <p>También he sido informado del derecho a solicitar al responsable del tratamiento el acceso a mis datos personales, y su rectificación o supresión, o la limitación de su tratamiento, o a oponerme al tratamiento, así como el derecho a la portabilidad de mis datos, y a presentar una reclamación ante una autoridad de control.</p>
                <p>Otorgo mi consentimiento para el tratamiento de mis datos personales para el envío de comunicaciones comerciales por parte de FIL's Center Gym, S.L.</p>
            </div>
        </div>
    </div>
</section>

<shared-call-to-action
    [title]="'Te esperamos'"
    [classTitle]="'text-light text-medium'"
    [img]="'haltere.jpg'"
    [overlayStyle] = "11"
    [btnTxt]="'Inscríbete'"
    [btnUrl]="'/registro'"
    [btnClass]="'btn-light btn-lg'"
    ></shared-call-to-action>