<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-height-xs="360" data-autoplay="2600" data-animate-in="fadeIn" data-animate-out="fadeOut" data-items="1" data-loop="true" data-autoplay="true">
    <!-- Slide 1 -->
    <div class="slide" style="background-image:url(assets/fitness/images/filscenter.jpg);">
        <div class="container">
            <div class="slide-captions text-right">
                <div class="hero-heading-2 m-b-20 m-t-20 col-lg-6 float-right">
                    <!-- Captions -->
                    <h1 class="text-colored text-xl">LIFE IS<span class="text-rotator" data-animation="fadeIn" data-speed="3000">FITNESS, TO BE STRONG, TO BE FIT </span></h1>
                    <p class="lead text-light">Lorem ipsum dolor sit amet, consectetur adi pisi cing elit.Lorem ipsum dolor sit amet, consectetur adi pisi cing elit.</p>
                    <a class="btn btn-light" href="http://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923">Purchase POLO</a>
                </div>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 1 -->
</div>
<!--end: Inspiro Slider -->
