<div style="margin-top: 35px" class="d-flex justify-content-end">
  <button
    id="plus"
    (click)="habilitarUsuario()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-plus"></i> Usuario
  </button>
  <button
    id="minus"
    (click)="deshabilitarUsuario()"
    type="button"
    class="btn btn-light"
  >
    <i class="icon-minus"></i> Usuario
  </button>
</div>
<div *ngIf="mostrarUsuarioAdd == true">
  <app-usuario-add></app-usuario-add>
</div>
<h3 class="text-center">Usuarios</h3>
<div class="card-text">
  <table
    id="datatable"
    class="table table-bordered table-hover dataTable text-center"
    style="width: 100%"
    role="grid"
    aria-describedby="datatable_info"
  >
    <thead>
      <tr role="row">
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Nombre
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          DNI
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Email
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Fecha Nacimiento
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Telefono
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Usuario
        </th>
        <th
          id=""
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Número tarjeta
        </th>
        <th
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios" class="text-center">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.dni }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.fechaNacimiento | date: "d/M/YYYY" }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.nombreUsuario }}</td>
        <td>{{ usuario.numeroTarjeta }}</td>
        <td>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Edit"
            (click)="open(content, usuario)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="delete(usuario)"
            ><i class="icon-trash-2"></i
          ></a>
          <a class="ml-2" data-toggle="tooltip" data-original-title="Settings"
            ><i class="icon-settings"></i
          ></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="">Nombre</th>
        <th id="">DNI</th>
        <th id="">Email</th>
        <th id="">Fecha Nacimiento</th>
        <th id="">Telefono</th>
        <th id="">Usuario</th>
        <th id="">Número tarjeta</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<!--                PARTE DEL MODAL UPDATE                -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Usuario</h4>
  </div>
  <div class="modal-body" *ngIf="usuarioUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update()"
        #f="ngForm"
      >
        <div class="row justify-content-center m-4"><h4>Datos Usuario</h4></div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="nombre">(*) Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              #usuarioNombre="ngModel"
              [(ngModel)]="usuarioUpdate.nombre"
              placeholder="Nombre usuario"
              required
              pattern="^([a-zA-Za´´eíóúÁÉÍÓÚ]){1}[a-zA-Z áéíóúÁÉÍÓÚ]{2,50}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioNombre.invalid) ||
                  (usuarioNombre.touched && !usuarioNombre.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioNombre.invalid) ||
                (usuarioNombre.touched && !usuarioNombre.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="usuarioNombre.errors.required || usuarioNombre.invalid"
              >
                * Nombre no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="apellido">(*) Apellido</label>
            <input
              type="text"
              class="form-control"
              id="apellido"
              name="apellido"
              #usuarioApellido="ngModel"
              [(ngModel)]="usuarioUpdate.apellidos"
              placeholder="Apellidos usuario"
              required
              pattern="^([a-zA-ZáéíóúÁÉÍÓÚ]){1}[a-zA-Z áéíóúÁÉÍÓÚ]{2,70}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioApellido.invalid) ||
                  (usuarioApellido.touched && !usuarioApellido.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioApellido.invalid) ||
                (usuarioApellido.touched && !usuarioApellido.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioApellido.errors.required || usuarioApellido.invalid
                "
              >
                * Apellido no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="dni">(*) DNI</label>
            <input
              type="text"
              class="form-control"
              id="dni"
              name="dni"
              #usuarioDni="ngModel"
              [(ngModel)]="usuarioUpdate.dni"
              placeholder="ej: 55668877X"
              required
              pattern="^(\d){8}[a-zA-Z]{1}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioDni.invalid) ||
                  (usuarioDni.touched && !usuarioDni.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioDni.invalid) ||
                (usuarioDni.touched && !usuarioDni.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="usuarioDni.errors.required || usuarioDni.invalid">
                * Dni no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="telefono">(*) Teléfono</label>
            <input
              type="text"
              class="form-control"
              id="telefono"
              name="telefono"
              #usuarioTelefono="ngModel"
              [(ngModel)]="usuarioUpdate.telefono"
              placeholder="Ej:666555444"
              required
              pattern="^(6|7|8|9){1}\d{8,9}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioTelefono.invalid) ||
                  (usuarioTelefono.touched && !usuarioTelefono.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioTelefono.invalid) ||
                (usuarioTelefono.touched && !usuarioTelefono.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioTelefono.errors.required || usuarioTelefono.invalid
                "
              >
                * Teléfono no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="fechaNacimiento">(*) Fecha Nacimiento</label>
            <input
              type="date"
              class="form-control"
              id="fechaNacimiento"
              name="fechaNacimiento"
              #usuarioFechaNacimiento="ngModel"
              [(ngModel)]="usuarioUpdate.fechaNacimiento"
              placeholder="Nombre Tipo ejercicio"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioFechaNacimiento.invalid) ||
                  (usuarioFechaNacimiento.touched &&
                    !usuarioFechaNacimiento.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioFechaNacimiento.invalid) ||
                (usuarioFechaNacimiento.touched &&
                  !usuarioFechaNacimiento.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioFechaNacimiento.errors.required ||
                  usuarioFechaNacimiento.invalid
                "
              >
                * Fecha no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="email">(*) Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              #usuarioEmail="ngModel"
              [(ngModel)]="usuarioUpdate.email"
              placeholder="Email usuario"
              required
              pattern="^([a-z0-9]{1})((\.|\-)?([a-z0-9])){0,}@([a-z0-9]){1}((\.|\-)?([a-z0-9]))*\.([a-z]){2,4}$"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioEmail.invalid) ||
                  (usuarioEmail.touched && !usuarioEmail.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioEmail.invalid) ||
                (usuarioEmail.touched && !usuarioEmail.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="usuarioEmail.errors.required || usuarioEmail.invalid">
                * Email no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="password">(*) Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              #usuarioPassword="ngModel"
              [(ngModel)]="usuarioUpdate.password"
              placeholder="6 caract. min (por ahora)"
              required
              pattern="\w{6,}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioPassword.invalid) ||
                  (usuarioPassword.touched && !usuarioPassword.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioPassword.invalid) ||
                (usuarioPassword.touched && !usuarioPassword.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioPassword.errors.required || usuarioPassword.invalid
                "
              >
                * Password no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="cuentaBancaria">(*) Cuenta Bancaria</label>
            <input
              type="text"
              class="form-control"
              id="cuentaBancaria"
              name="cuentaBancaria"
              #usuarioCuentaBancaria="ngModel"
              [(ngModel)]="usuarioUpdate.cuentaBancaria"
              placeholder="ES55 4444 4444 44 444444444 "
              required
              pattern="(ES\d{2} \d{4} \d{4} \d{2} \d{10}|ES\d{22})"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioCuentaBancaria.invalid) ||
                  (usuarioCuentaBancaria.touched &&
                    !usuarioCuentaBancaria.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioCuentaBancaria.invalid) ||
                (usuarioCuentaBancaria.touched && !usuarioCuentaBancaria.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioCuentaBancaria.errors.required ||
                  usuarioCuentaBancaria.invalid
                "
              >
                * Cuenta Bancaria no válida
              </div>
            </div>
          </div>
          <hr />
          <div class="row justify-content-center m-4 w-100">
            <h4>Dirección</h4>
          </div>

          <div class="form-group col-md-2">
            <label for="calle">(*) Calle</label>
            <input
              type="text"
              class="form-control"
              id="calle"
              name="calle"
              #direccionCalle="ngModel"
              [(ngModel)]="usuarioUpdate.direccion.calle"
              placeholder="C/"
              required
              pattern="^([a-zA-Z]){1}([a-zA-Z ]){2,50}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && direccionCalle.invalid) ||
                  (direccionCalle.touched && !direccionCalle.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && direccionCalle.invalid) ||
                (direccionCalle.touched && !direccionCalle.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="direccionCalle.errors.required || direccionCalle.invalid"
              >
                * Calle no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="numero">(*) Número</label>
            <input
              type="number"
              class="form-control"
              id="numero"
              name="numero"
              #direccionNumero="ngModel"
              [(ngModel)]="usuarioUpdate.direccion.numero"
              placeholder="Nº"
              min="1"
              max="1000"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && direccionNumero.invalid) ||
                  (direccionNumero.touched && !direccionNumero.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && direccionNumero.invalid) ||
                (direccionNumero.touched && !direccionNumero.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  direccionNumero.errors.required || direccionNumero.invalid
                "
              >
                * Número no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="bloque">Bloque</label>
            <input
              type="number"
              class="form-control"
              id="bloque"
              name="bloque"
              #direccionBloque="ngModel"
              [(ngModel)]="usuarioUpdate.direccion.bloque"
              placeholder="Ej: 1"
              pattern="^([1-9]\d*)"
              min="1"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && direccionBloque.invalid) ||
                  (direccionBloque.touched && !direccionBloque.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && direccionBloque.invalid) ||
                (direccionBloque.touched && !direccionBloque.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  direccionBloque.errors.required || direccionBloque.invalid
                "
              >
                * Bloque no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="escalera">Escalera</label>
            <input
              type="number"
              class="form-control"
              id="escalera"
              name="escalera"
              #direccionEscalera="ngModel"
              [(ngModel)]="usuarioUpdate.direccion.escalera"
              placeholder="Ej: 1"
              pattern="^([1-9]\d*)"
              min="1"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && direccionEscalera.invalid) ||
                  (direccionEscalera.touched && !direccionEscalera.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && direccionEscalera.invalid) ||
                (direccionEscalera.touched && !direccionEscalera.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  direccionEscalera.errors.required || direccionEscalera.invalid
                "
              >
                * Escalera no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="piso">Piso</label>
            <input
              type="number"
              class="form-control"
              id="piso"
              name="piso"
              #direccionPiso="ngModel"
              [(ngModel)]="usuarioUpdate.direccion.piso"
              placeholder="Ej: 1"
              pattern="^([1-9]\d*)"
              min="1"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && direccionPiso.invalid) ||
                  (direccionPiso.touched && !direccionPiso.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && direccionPiso.invalid) ||
                (direccionPiso.touched && !direccionPiso.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="direccionPiso.errors.required || direccionPiso.invalid"
              >
                * Piso no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="puerta">Puerta</label>
            <input
              type="text"
              class="form-control"
              id="puerta"
              name="puerta"
              #direccionPuerta="ngModel"
              [(ngModel)]="usuarioUpdate.direccion.puerta"
              placeholder="Ej: 1,A"
              pattern="^(\d|[a-zA-Z]{1})"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && direccionPuerta.invalid) ||
                  (direccionPuerta.touched && !direccionPuerta.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && direccionPuerta.invalid) ||
                (direccionPuerta.touched && !direccionPuerta.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  direccionPuerta.errors.required || direccionPuerta.invalid
                "
              >
                * Puerta no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="cp"> (*) Código Postal</label>
            <input
              type="text"
              class="form-control"
              id="cp"
              name="cp"
              #direccionCP="ngModel"
              [(ngModel)]="usuarioUpdate.direccion.codigoPostal"
              placeholder="Ej: 29850"
              required
              pattern="^\d{5,6}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && direccionCP.invalid) ||
                  (direccionCP.touched && !direccionCP.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && direccionCP.invalid) ||
                (direccionCP.touched && !direccionCP.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="direccionCP.errors.required || direccionCP.invalid">
                * Código Postal no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="provincia">(*) Provincia</label>
            <select
              class="form-control"
              name="provincia"
              id="provincia"
              #direccionProvincia="ngModel"
              [(ngModel)]="provinciaId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && direccionProvincia.invalid) ||
                  (direccionProvincia.touched && !direccionProvincia.valid)
              }"
              [(ngModel)]="usuarioUpdate.direccion.localidad.provincia.id"
              (ngModelChange)="updateLocalidades(provinciaId)"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let provincia of provincias"
                value="{{ provincia.id }}"
              >
                {{ provincia.nombre }}
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && direccionProvincia.invalid) ||
                (direccionProvincia.touched && !direccionProvincia.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  direccionProvincia.errors.required ||
                  direccionProvincia.invalid
                "
              >
                * Seleccione una Provincia
              </div>
            </div>
          </div>

          <div *ngIf="provinciaId != 0" class="form-group col-md-4">
            <label for="localidad">(*) Localidad</label>
            <select
              class="form-control"
              name="localidad"
              id="localidad"
              #direccionLocalidad="ngModel"
              [(ngModel)]="localidadId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && direccionLocalidad.invalid) ||
                  (direccionLocalidad.touched && !direccionLocalidad.valid)
              }"
              [(ngModel)]="usuarioUpdate.direccion.localidad.id"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let localidad of localidades"
                value="{{ localidad.id }}"
              >
                <span> {{ localidad.nombre }} </span>
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && direccionLocalidad.invalid) ||
                (direccionLocalidad.touched && !direccionLocalidad.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  direccionLocalidad.errors.required ||
                  direccionLocalidad.invalid
                "
              >
                * Seleccione una Localidad
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>


<!--ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Usuario</h4>
  </div>
  <div class="modal-body" *ngIf="usuarioUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update()"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="nombre">(*) Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              #usuarioNombre="ngModel"
              [(ngModel)]="usuarioUpdate.nombre"
              placeholder="Nombre usuario"
              required
              pattern="^([a-zA-Za´´eíóúÁÉÍÓÚ]){1}[a-zA-Z áéíóúÁÉÍÓÚ]{2,50}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioNombre.invalid) ||
                  (usuarioNombre.touched && !usuarioNombre.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioNombre.invalid) ||
                (usuarioNombre.touched && !usuarioNombre.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="usuarioNombre.errors.required || usuarioNombre.invalid"
              >
                * Nombre no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="apellido">(*) Apellido</label>
            <input
              type="text"
              class="form-control"
              id="apellido"
              name="apellido"
              #usuarioApellido="ngModel"
              [(ngModel)]="usuarioUpdate.apellidos"
              placeholder="Apellidos usuario"
              required
              pattern="^([a-zA-ZáéíóúÁÉÍÓÚ]){1}[a-zA-Z áéíóúÁÉÍÓÚ]{2,70}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioApellido.invalid) ||
                  (usuarioApellido.touched && !usuarioApellido.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioApellido.invalid) ||
                (usuarioApellido.touched && !usuarioApellido.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioApellido.errors.required || usuarioApellido.invalid
                "
              >
                * Apellido no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="dni">(*) DNI</label>
            <input
              type="text"
              class="form-control"
              id="dni"
              name="dni"
              #usuarioDni="ngModel"
              [(ngModel)]="usuarioUpdate.dni"
              placeholder="ej: 55668877X"
              required
              pattern="^(\d){8}[a-zA-Z]{1}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioDni.invalid) ||
                  (usuarioDni.touched && !usuarioDni.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioDni.invalid) ||
                (usuarioDni.touched && !usuarioDni.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="usuarioDni.errors.required || usuarioDni.invalid">
                * Dni no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="telefono">(*) Teléfono</label>
            <input
              type="text"
              class="form-control"
              id="telefono"
              name="telefono"
              #usuarioTelefono="ngModel"
              [(ngModel)]="usuarioUpdate.telefono"
              placeholder="Ej:666555444"
              required
              pattern="^(6|7|8|9){1}\d{8,9}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioTelefono.invalid) ||
                  (usuarioTelefono.touched && !usuarioTelefono.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioTelefono.invalid) ||
                (usuarioTelefono.touched && !usuarioTelefono.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioTelefono.errors.required || usuarioTelefono.invalid
                "
              >
                * Teléfono no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="fechaNacimiento">(*) Fecha Nacimiento</label>
            <input
              type="date"
              class="form-control"
              id="fechaNacimiento"
              name="fechaNacimiento"
              #usuarioFechaNacimiento="ngModel"
              [(ngModel)]="usuarioUpdate.fechaNacimiento"
              placeholder="Nombre Tipo ejercicio"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioFechaNacimiento.invalid) ||
                  (usuarioFechaNacimiento.touched &&
                    !usuarioFechaNacimiento.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioFechaNacimiento.invalid) ||
                (usuarioFechaNacimiento.touched &&
                  !usuarioFechaNacimiento.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioFechaNacimiento.errors.required ||
                  usuarioFechaNacimiento.invalid
                "
              >
                * Fecha no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="email">(*) Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              #usuarioEmail="ngModel"
              [(ngModel)]="usuarioUpdate.email"
              placeholder="Email usuario"
              required
              pattern="^([a-z0-9]{1})((\.|\-)?([a-z0-9])){0,}@([a-z0-9]){1}((\.|\-)?([a-z0-9]))*\.([a-z]){2,4}$"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioEmail.invalid) ||
                  (usuarioEmail.touched && !usuarioEmail.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioEmail.invalid) ||
                (usuarioEmail.touched && !usuarioEmail.valid)
              "
              class="invalid-feedback"
            >
              <div *ngIf="usuarioEmail.errors.required || usuarioEmail.invalid">
                * Email no válido
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="password">(*) Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              #usuarioPassword="ngModel"
              [(ngModel)]="usuarioUpdate.password"
              placeholder="6 caract. min (por ahora)"
              required
              pattern="\w{6,}"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioPassword.invalid) ||
                  (usuarioPassword.touched && !usuarioPassword.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioPassword.invalid) ||
                (usuarioPassword.touched && !usuarioPassword.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioPassword.errors.required || usuarioPassword.invalid
                "
              >
                * Password no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="cuentaBancaria">(*) Cuenta Bancaria</label>
            <input
              type="text"
              class="form-control"
              id="cuentaBancaria"
              name="cuentaBancaria"
              #usuarioCuentaBancaria="ngModel"
              [(ngModel)]="usuarioUpdate.cuentaBancaria"
              placeholder="ES55 4444 4444 44 444444444 "
              required
              pattern="(ES\d{2} \d{4} \d{4} \d{2} \d{10}|ES\d{22})"
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioCuentaBancaria.invalid) ||
                  (usuarioCuentaBancaria.touched &&
                    !usuarioCuentaBancaria.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && usuarioCuentaBancaria.invalid) ||
                (usuarioCuentaBancaria.touched && !usuarioCuentaBancaria.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioCuentaBancaria.errors.required ||
                  usuarioCuentaBancaria.invalid
                "
              >
                * Cuenta Bancaria no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="direccion">(*) Dirección</label>
            <select
              class="form-control"
              name="direccion"
              id="direccion"
              #usuarioDireccion="ngModel"
              [(ngModel)]="DireccionId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioDireccion.invalid) ||
                  (usuarioDireccion.touched && !usuarioDireccion.valid)
              }"
              
            >
              <option value="" selected>- Elige una opción -</option>
              
              <option
                *ngFor="let direccion of direcciones"
                value="{{ direccion.id }}"
              >
                {{ direccion.calle }} - {{ direccion.localidad.nombre }} -{{
                  direccion.codigoPostal
                }}
              </option>
            </select>
            <div
              *ngIf="
                (f.submitted && usuarioDireccion.invalid) ||
                (usuarioDireccion.touched && !usuarioDireccion.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioDireccion.errors.required || usuarioDireccion.invalid
                "
              >
                * Dirección no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="suscripcion">(*) Suscripcion</label>
            <select
              class="form-control"
              name="suscripcion"
              id="suscripcion"
              #usuarioSuscripcion="ngModel"
              [(ngModel)]="suscripcionId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioSuscripcion.invalid) ||
                  (usuarioSuscripcion.touched && !usuarioSuscripcion.valid)
              }"
              
            >
              <option value="" selected>- Elige una opción -</option>
              
              <option
                *ngFor="let suscripcion of suscripciones"
                value="{{ suscripcion.id }}"
              >
                {{ suscripcion.tipoSuscripcion.duracion }}/Días -
                {{ suscripcion.tipoSuscripcion.tarifa }}€
              </option>
            </select>
            <div
              *ngIf="
                (f.submitted && usuarioSuscripcion.invalid) ||
                (usuarioSuscripcion.touched && !usuarioSuscripcion.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioSuscripcion.errors.required ||
                  usuarioSuscripcion.invalid
                "
              >
                * Suscripcion no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="taquilla">(*) Taquilla</label>
            <select
              class="form-control"
              name="taquilla"
              id="taquilla"
              #usuarioTaquilla="ngModel"
              [(ngModel)]="TaquillaId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && usuarioTaquilla.invalid) ||
                  (usuarioTaquilla.touched && !usuarioTaquilla.valid)
              }"
          
            >
              <option value="" selected>- Elige una opción -</option>
              
              <option
                *ngFor="let taquilla of taquillas"
                value="{{ taquilla.id }}"
              >
                {{ taquilla.numero }}
              </option>
            </select>
            <div
              *ngIf="
                (f.submitted && usuarioTaquilla.invalid) ||
                (usuarioTaquilla.touched && !usuarioTaquilla.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  usuarioTaquilla.errors.required || usuarioTaquilla.invalid
                "
              >
                * Taquilla no válida
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template-->
