<app-tipo-suscripcion-list></app-tipo-suscripcion-list>

<div class="my-5"></div>
<div class="row input-group" >
  <div class="col-sm-12 col-md-6">
      <div class="form-outline">
        <label
          >Nombre :
          <input
          [(ngModel)]="filterName"
            type="search"
            class="form-control form-control-sm "
            placeholder=""
        /></label>
        <button type="button" class="btn btn-primary mt-2" (click)="filtrarTabla()">
          <i class="fas fa-search "></i>
        </button>
      </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div style="margin-top: 35px" class="d-flex justify-content-end">
      <button
      id="plusSuscripcion"
      (click)="habilitarSuscripcion()"
      type="button"
      class="btn btn-light"
    >
      <i class="icon-plus"></i> Suscripcion
    </button>
    <button
      id="minusSuscripcion"
      (click)="deshabilitarSuscripcion()"
      type="button"
      class="btn btn-light"
    >
      <i class="icon-minus"></i> Suscripcion
    </button>
    </div>
  </div>
</div>

<div *ngIf="mostrarSuscripcionAdd == true">
  <app-suscripcion-add></app-suscripcion-add>
</div>

<h3 class="text-left">Suscripción</h3>

<div class="card-text">
  <table
    id="datatable"
    class="table table-bordered table-hover dataTable text-center"
    style="width: 100%"
    role="grid"
    aria-describedby="datatable_info"
  >
    <thead>
      <tr role="row">
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Fecha alta
        </th>

        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Fecha baja
        </th>
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Tipo Suscripción
        </th>
        <th
          id=""
          class="sorting_asc"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-sort="ascending"
          aria-label="Name: activate to sort column descending"
          style="width: 45px"
        >
          Nombre Usuario
        </th>
        <th
          id=""
          class="noExport sorting"
          tabindex="0"
          aria-controls="datatable"
          rowspan="1"
          colspan="1"
          aria-label="Actions: activate to sort column ascending"
          style="width: 54px"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let suscripcion of suscripciones" class="text-center">
        <td>{{ suscripcion.fechaAlta | date: "d/M/YYYY" }}</td>
        <td>{{ suscripcion.fechaBaja | date: "d/M/YYYY" }}</td>
        <td class="text-left">{{ suscripcion.tipoSuscripcion.nombre }}</td>
        <td class="text-left">{{ suscripcion.usuario.nombre }}</td>
        <td>
          <a class="ml-2" data-toggle="tooltip" data-original-title="Edit"
          (click)="open(content,suscripcion)"
            ><i class="icon-edit"></i
          ></a>
          <a
            class="ml-2"
            data-toggle="tooltip"
            data-original-title="Delete"
            (click)="openModalDelete(confirmDelete,this.suscripcion)"
            ><i class="icon-trash-2"></i
          ></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="" rowspan="1" colspan="1">Fecha Alta</th>
        <th id="" rowspan="1" colspan="1">Fecha Baja</th>
        <th id="" rowspan="1" colspan="1">Tipo Suscripción</th>
        <th id="" rowspan="1" colspan="1">Usuario</th>
        <th id="" rowspan="1" colspan="1">Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<!-- modal delete -->
<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>¿Seguro que quieres borrar la suscripción del usuario <span class="text-danger">{{suscripcionAux.usuario.nombre}} ?</span></h3>
    </div>
  </div>
  <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button (click)="delete(usuario)" type="button" class="btn btn-primary">Borrar</button>
        </div>
</ng-template>

<!-- modal update -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Suscripción</h4>
  </div>
  <div class="modal-body" *ngIf="suscripcionUpdate.id != null">
    <div class="card-body">
      <form
        class="form-validate"
        name="form"
        (ngSubmit)="f.form.valid && update(updateModalSuscripcion)"
        #f="ngForm"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">(*) Fecha de alta</label>
            <input
              type="date"
              class="form-control"
              name="fechaAlta"
              #suscripcionFechaAlta="ngModel"
              [(ngModel)]="suscripcionUpdate.fechaAlta"
              placeholder="Nombre Tipo ejercicio"
              required=""
              [ngClass]="{
                'is-invalid':
                  (f.submitted && suscripcionFechaAlta.invalid) ||
                  (suscripcionFechaAlta.touched && !suscripcionFechaAlta.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && suscripcionFechaAlta.invalid) ||
                (suscripcionFechaAlta.touched && !suscripcionFechaAlta.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  suscripcionFechaAlta.errors.required ||
                  suscripcionFechaAlta.invalid
                "
              >
                * Fecha no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="username">(*) Fecha de baja</label>
            <input
              type="date"
              class="form-control"
              name="fechaBaja"
              #ejercicioNombre="ngModel"
              [(ngModel)]="suscripcionUpdate.fechaBaja"
              placeholder="Nombre Tipo ejercicio"
              required=""
              [ngClass]="{
                'is-invalid':
                  (f.submitted && ejercicioNombre.invalid) ||
                  (ejercicioNombre.touched && !ejercicioNombre.valid)
              }"
            />
            <div
              *ngIf="
                (f.submitted && ejercicioNombre.invalid) ||
                (ejercicioNombre.touched && !ejercicioNombre.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  ejercicioNombre.errors.required || ejercicioNombre.invalid
                "
              >
                * Fecha no válida
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="tipoEjercicio">(*) Tipo de Suscripción</label>
            <select
              class="form-control"
              name="tipoSuscripcion"
              id="tipoSuscripcion"
              #suscripcionTipoSuscripcion="ngModel"
              [(ngModel)]="tipoSuscripcionId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && suscripcionTipoSuscripcion.invalid) ||
                  (suscripcionTipoSuscripcion.touched &&
                    !suscripcionTipoSuscripcion.valid)
              }"
              [(ngModel)]="suscripcionUpdate.tipoSuscripcion.id"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option
                *ngFor="let tipoSuscripcion of tiposSuscripcion"
                value="{{ tipoSuscripcion.id }}"
              >
                {{ tipoSuscripcion.nombre }}
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && suscripcionTipoSuscripcion.invalid) ||
                (suscripcionTipoSuscripcion.touched &&
                  !suscripcionTipoSuscripcion.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  suscripcionTipoSuscripcion.errors.required ||
                  suscripcionTipoSuscripcion.invalid
                "
              >
                * Seleccione un tipo de suscripcion
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="usuario">(*) Usuario</label>
            <select
              class="form-control"
              name="usuario"
              id="usuario"
              #suscripcionUsuario="ngModel"
              [(ngModel)]="usuarioId"
              required
              [ngClass]="{
                'is-invalid':
                  (f.submitted && suscripcionUsuario.invalid) ||
                  (suscripcionUsuario.touched && !suscripcionUsuario.valid)
              }"
              [(ngModel)]="suscripcionUpdate.usuario.id"
            >
              <option value="" selected>-- Elige una opción --</option>
              <option *ngFor="let usuario of usuarios" value="{{ usuario.id }}">
                {{ usuario.nombre }}
              </option>
            </select>

            <div
              *ngIf="
                (f.submitted && suscripcionTipoSuscripcion.invalid) ||
                (suscripcionTipoSuscripcion.touched &&
                  !suscripcionTipoSuscripcion.valid)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  suscripcionTipoSuscripcion.errors.required ||
                  suscripcionTipoSuscripcion.invalid
                "
              >
                * Seleccione un usuario
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #updateModalSuscripcion let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Update</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <h3>{{textoModal}}</h3>
    </div>
  </div>
  <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss();refresh()"
          >
            Cerrar
          </button>
        </div>
</ng-template>

